<div class="submenu">
    <div class="row">
        <div class="col">
            <a class="no-underline" href="javascript:void(0);" (click)="goBack()">
                <i class="bi bi-arrow-left-square-fill"></i>
                <span class="d-none d-md-inline">Volver</span>
            </a>
        </div>
        <!-- <div class="col">
            <a class="no-underline" href="javascript:void(0);" (click)="navegarAInfoEquipo()">
                <i class="bi bi-info-circle"></i>
                <span class="d-none d-md-inline">Información del equipo</span>
            </a>
        </div> -->
    </div>
</div>

<div *ngIf="loading" class="spinner-container">
    <div class="spinner"></div>
</div>


<div class="container" style="margin-top: 3em;" *ngIf="!loading">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#asistencia">Asistencia</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#multas">Multas</a>
        </li>
    </ul>

    <div class="tab-content mt-3">
        <!-- Tab de Asistencia -->
        <div class="tab-pane fade show active" id="asistencia">
            <div class="table-responsive" style="max-height: 30em; overflow-y: auto;">
                <table class="table table-bordered table-striped text-center">
                    <thead class="table-custom" style="position: sticky; top: 0; background-color: white; z-index: 1;">
                        <tr>
                            <th>Fecha</th>
                            <th *ngFor="let player of players">{{ player }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Totales -></td>
                            <td *ngFor="let total of asistTotales">
                                {{ total }} / {{ numTotal }}
                            </td>
                        </tr>
                        <tr *ngFor="let item of asistMultasPlayers">
                            <td>{{ item.fecha }}</td>
                            <td *ngFor="let asistencia of item.asistencia"
                                [ngClass]="{'text-success': asistencia === 1, 'text-danger': asistencia === 0}">
                                <span *ngIf="asistencia === 1">&#10003;</span>
                                <span *ngIf="asistencia === 0">&#10007;</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Tab de Multas -->
        <div class="tab-pane fade" id="multas">
            <div class="table-responsive" style="max-height: 30em; overflow-y: auto;">
                <table class="table table-bordered table-striped text-center">
                    <thead class="table-custom" style="position: sticky; top: 0; background-color: white; z-index: 1;">
                        <tr>
                            <th>Fecha</th>
                            <th *ngFor="let player of players">{{ player }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of asistMultasPlayers; let i = index">
                            <td>{{ item.fecha }}</td>
                            <td *ngFor="let multa of item.multas; let j = index"
                                [ngClass]="{'bg-danger text-white': multa !== 0 && item.multaPagada[j] === 0, 'bg-success text-white': multa !== 0 && item.multaPagada[j] === 1}">
                                
                                <!-- Monto de la multa -->
                                {{ multa }}
        
                                <!-- Iconos para marcar como pagada o no pagada, solo si la multa es diferente de 0 -->
                                <ng-container *ngIf="multa !== 0">
                                    <i class="bi bi-hand-index text-white ml-2"
                                       *ngIf="item.multaPagada[j] === 1"
                                       (click)="toggleMultaPago(item.idsPk[j], 0)" title="Marcar como NO pagado"></i>
                                </ng-container>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>