<div
  class="loading-container"
  [ngStyle]="{ display: datosCargando ? 'flex' : 'none' }"
>
  <div class="spinner-border text-primary" role="status"></div>
  <div class="loading-text">
    <i class="mdi mdi-loading mdi-spin me-2"></i> Cargando datos y leyendo suscripción...
  </div>
</div>


<div [ngStyle]="{ display: datosCargados ? 'block' : 'none' }">
  <div class="submenu">
    <div class="row" *ngIf="this.usuarioActual!.profileType.profileId === 2">
      <div class="col text-center">
        <a class="no-underline" href="javascript:void(0);" (click)="abrirModalCrearEquipo()">
          <i class="bi bi-plus-circle"></i>
          <span class="d-none d-md-inline">Crear un equipo</span>
        </a>
      </div>
    </div>
    <div class="row" *ngIf="this.usuarioActual!.profileType.profileId === 1">
      <div class="col text-center">
        <a class="no-underline" href="javascript:void(0);" (click)="abrirModalCrearEquipo()">
          <i class="bi bi-plus-circle"></i>
          <span class="d-none d-md-inline">Crear un equipo</span>
        </a>
      </div>
      <div class="col text-center">
        <a class="no-underline" href="javascript:void(0);" (click)="irAPantalla(3)">
          <i class="bi bi-clipboard2-data"></i>
          <span class="d-none d-md-inline">Cuadro Mando Deportivo</span>
        </a>
      </div>
      <div class="col text-center">
        <a class="no-underline" href="javascript:void(0);" (click)="irAPantalla(1)">
          <i class="bi bi-bank"></i>
          <span class="d-none d-md-inline">Cuotas</span>
        </a>
      </div>
      <div class="col text-center">
        <a class="no-underline" href="javascript:void(0);" (click)="irAPantalla(2)">
          <i class="bi bi-backpack3"></i>
          <span class="d-none d-md-inline">Ropa</span>
        </a>
      </div>
      <div class="col text-center">
        <a class="no-underline" href="javascript:void(0);" (click)="irAPantalla(4)">
          <i class="bi bi-collection"></i>
          <span class="d-none d-md-inline">Patrocinadores</span>
        </a>
      </div>
      <div class="col text-center">
        <a class="no-underline" href="javascript:void(0);">
          <i class="bi bi-envelope"></i>
          <span class="d-none d-md-inline">Notificaciones</span>
        </a>
      </div>
    </div>
  </div>

  <!-- Botón para abrir el modal de creación de equipo -->
  <div class="container">
    <div class="row">
      <div class="col text-center" *ngIf="this.usuarioActual!.profileType.profileId == 5">
        <h2 class="text-dark mt-3">Jugadores de Sphaira</h2>
      </div>
      <div class="col text-center" *ngIf="this.usuarioActual!.profileType.profileId < 3">
        <h2 class="text-dark mt-3">Listado de Equipos</h2>
      </div>
      <div class="col text-center"
        *ngIf="this.usuarioActual!.profileType.profileId == 3 || this.usuarioActual!.profileType.profileId == 4">
        <h2 class="text-dark mt-3">Listado de jugadores</h2>
      </div>
    </div>
    <div class="row" *ngIf="this.usuarioActual!.profileType.profileId === 1">
      <div class="col">
        <button class="btn btn-success" (click)="openModalSubirJugadores()">
          Cargar jugadores desde plantilla Excel <i class="bi bi-file-earmark-spreadsheet"></i>
        </button>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 p-3" style="margin-top: 3em;"
      *ngIf="this.usuarioActual!.profileType.profileId < 3">
      <div class="col mb-3" *ngFor="let team of listTeam; let i = index" style="cursor: pointer;"
        (click)="navegarACalendario(team.teamId, 0)">
        <div class="card h-100" style="border: 1px solid black;">
          <div class="card-body text-center">
            <div class="row mb-2">
              <div class="col text-start" style="font-size: 0.8em;">
                ID: {{ team.teamId }}
              </div>
            </div>
            <div class="row mb-2">
              <div class="col">
                <img *ngIf="noPicture" src="https://appsphairatech.com/images/user/{{ pictureClub }}" alt="user-image"
                  width="90" height="90" style="max-width: 100%;">
              </div>
            </div>
            <h5 class="card-title"
              style="color: black; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ team.category }}
              {{ team.name }}</h5>
            <p class="card-text" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
              {{ team.levelLeague }}
            </p>
            <p class="card-text">
              {{ team.trainingDays }}
              <i class="bi bi-calendar-week ml-2"></i>
              -
              {{ team.jugadoresPorEquipo }}
              <i class="bi bi-people-fill"></i>
            </p>
            <p *ngIf="team.nombreEntrenador" class="card-text"
              style="color: black; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
              <b>Cuerpo técnico: </b> {{ team.nombreEntrenador }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 p-3" style="margin-top: 3em;"
      *ngIf="this.usuarioActual!.profileType.profileId > 2">
      <!-- Tarjeta de jugador -->
      <div class="col mb-3" *ngFor="let hijo of listHijos; let i = index" style="cursor: pointer;"
        (click)="navegarACalendario(hijo.teamId, hijo.playerId)">
        <div *ngIf="hijo.playerId > 0" class="card h-100" style="border: 1px solid black;">
          <div class="card-body d-flex flex-column text-center">
            <div class="row mb-2 flex-grow-1 d-flex justify-content-center align-items-center">
              <div class="col" *ngIf="hijo.picturePlayer">
                <img src="https://appsphairatech.com/images/user/{{ hijo.picturePlayer }}" alt="user-image" width="90"
                  height="90" style="max-width: 100%;">
              </div>
              <div class="col d-flex justify-content-center align-items-center" *ngIf="!hijo.picturePlayer">
                <ng-container>
                  <span class="bi bi-person" style="font-size: 4rem;"></span>
                </ng-container>
              </div>
            </div>
            <h5 class="card-title mt-auto" style="color: black; white-space: nowrap; text-overflow: ellipsis;">
              {{ hijo.nombre }} {{ hijo.apellido }}
            </h5>
          </div>
        </div>
      </div>

      <!-- Tarjeta de scouting -->
      <div class="col mb-3" *ngFor="let hijo of listHijos; let i = index" style="cursor: pointer;"
        (click)="navegarAScouting(hijo.playerId)">
        <div class="card h-100" style="border: 1px solid black;">
          <div class="card-body d-flex flex-column text-center">
            <div class="row mb-2 flex-grow-1 d-flex justify-content-center align-items-center">
              <div class="col d-flex justify-content-center align-items-center">
                <img src="/assets/iconos/prismaticos.svg" class="card-img-top mx-auto d-block p-3" style="width: 7em;"
                  alt="Scouting Icon">
              </div>
            </div>
            <h5 class="card-title mt-auto" style="color: black; white-space: nowrap; text-overflow: ellipsis;">
              Scouting de {{ hijo.nombre }} {{ hijo.apellido }}
            </h5>
          </div>
        </div>
      </div>
    </div>

    <!-- parte de scouting -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 p-3" style="margin-top: 3em;"
      *ngIf="this.usuarioActual!.profileType.profileId == 5">
      <!-- Tarjeta de jugador -->
      <div class="col mb-3">
        <div class="card h-100" style="border: 1px solid black;">
          <div class="card-body d-flex flex-column text-center">
            <div class="row mb-2 flex-grow-1 d-flex justify-content-center align-items-center">
              <div class="col d-flex justify-content-center align-items-center">
                <img src="/assets/iconos/buscar.svg" class="card-img-top mx-auto d-block p-3" style="width: 7em;"
                  alt="Scouting Icon">
              </div>
            </div>
            <h5 class="card-title mt-auto" style="color: black; white-space: nowrap; text-overflow: ellipsis;">
              Ver todos
            </h5>
          </div>
        </div>
      </div>

      <!-- Tarjeta de scouting -->
      <div class="col mb-3">
        <div class="card h-100" style="border: 1px solid black;">
          <div class="card-body d-flex flex-column text-center">
            <div class="row mb-2 flex-grow-1 d-flex justify-content-center align-items-center">
              <div class="col d-flex justify-content-center align-items-center">
                <img src="/assets/iconos/estrella.svg" class="card-img-top mx-auto d-block p-3" style="width: 7em;"
                  alt="Scouting Icon">
              </div>
            </div>
            <h5 class="card-title mt-auto" style="color: black; white-space: nowrap; text-overflow: ellipsis;">
              Ver favoritos
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div [ngStyle]="{ display: !datosNoCargados ? 'none' : 'block' }">
  <div class="d-flex justify-content-center align-items-center mt-3">
    <div class="card text-center shadow-lg p-4">
      <div class="card-body">
        <h5 class="card-title mb-3">Acceso Restringido</h5>
        <p class="card-text text-muted">
          Necesitas una suscripción para poder usar la aplicación.
        </p>
        <button class="btn btn-primary btn-lg" (click)="goSuscripcion()">
          <i class="mdi mdi-account-circle me-2"></i> Obtener Suscripción
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para la creación de equipo -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': showModal}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="standard-modalLabel">Crea un equipo</h5>
        <!-- Botón de cerrar con un icono -->
        <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModal()"></button>
      </div>
      <div class="modal-body">
        <h6 class="mt-0">Instrucciones</h6>
        <p>Introduce los datos de tu equipo que quieres crear sin dejar ningun campo vacío.</p>
        <hr>
        <!-- Formulario para la creación de equipo con campos separados -->
        <form [formGroup]="crearEquipoForm" (ngSubmit)="crearEquipo()">
          <div class="mb-3">
            <label for="categoriaEquipo" class="form-label">Categoría del Equipo:</label>
            <select class="form-control" id="categoriaEquipo" name="categoriaEquipo" formControlName="categoryTypeId">
              <!-- Opciones ajustadas según tus necesidades -->
              <option value="27">Sin equipo</option>
              <option value="15">Senior</option>
              <option value="16">Juvenil</option>
              <option value="17">Juvenil/Cadete Femenina</option>
              <option value="18">Cadete</option>
              <option value="19">Cadete/Infantil Femenina</option>
              <option value="20">Infantil</option>
              <option value="21">Infantil/Alevín Femenina</option>
              <option value="22">Alevín</option>
              <option value="23">Benjamín</option>
              <option value="24">Benjamín/Prebenjamín Femenina</option>
              <option value="25">Prebenjamín</option>
              <option value="26">Debutante</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="nivelLiga" class="form-label">Nivel:</label>
            <select class="form-control" id="nivelLiga" name="nivelLiga" formControlName="levelLeague">
              <!-- Opciones ajustadas según tus necesidades -->
              <option value="LaLiga EA Sports">LaLiga EA Sports</option>
              <option value="Liga F">Liga F</option>
              <option value="LaLiga Hypermotion">LaLiga Hypermotion</option>
              <option value="Segunda RFEF Femenina">Segunda RFEF Femenina</option>
              <option value="Primera RFEF">Primera RFEF</option>
              <option value="Segunda RFEF">Segunda RFEF</option>
              <option value="Tercera RFEF">Tercera RFEF</option>
              <option value="Tercera RFEF Femenina">Tercera RFEF Femenina</option>
              <option value="Preferente Autonómica">Preferente Autonómica</option>
              <option value="Preferente Autonómica Femenina">Preferente Autonómica Femenina</option>
              <option value="Primera Autonómica">Primera Autonómica</option>
              <option value="Primera Autonómica Femenina">Primera Autonómica Femenina</option>
              <option value="Segunda Autonómica">Segunda Autonómica</option>
              <option value="Tercera Autonómica">Tercera Autonómica</option>
              <option value="División de Honor">División de Honor</option>
              <option value="Liga Nacional">Liga Nacional</option>
              <option value="Superliga">Superliga</option>
              <option value="Autonómica">Autonómica</option>
              <option value="Preferente">Preferente</option>
              <option value="Primera">Primera</option>
              <option value="Segunda">Segunda</option>
              <option value="Tercera">Tercera</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="nombreEquipo" class="form-label">Letra del equipo:</label>
            <select class="form-control" id="nombreEquipo" name="nombreEquipo" formControlName="name">
              <option value="">Sin letra</option>
              <option value="A">A</option>
              <option value="B">B</option>
              <option value="C">C</option>
              <option value="D">D</option>
              <option value="E">E</option>
              <option value="F">F</option>
              <option value="G">G</option>
              <option value="H">H</option>
              <option value="I">I</option>
              <option value="J">J</option>
              <option value="K">K</option>
              <option value="L">L</option>
              <option value="M">M</option>
            </select>
          </div>
          <!--<div class="mb-3">
            <label for="objetivoEquipo" class="form-label">Objetivo del Equipo:</label>
            <input type="text" class="form-control" id="objetivoEquipo" name="objetivoEquipo"
              formControlName="objectiveTeam">
          </div>-->
          <div class="mb-3">
            <label for="diasEntrenamiento" class="form-label">Días de Entrenamiento:</label>
            <p>Para introducir un horario, una vez creado el equipo, pulsa en él y después accede al menú "información
              del equipo".</p>
          </div>
          <div class="modal-footer">
            <!-- Botón para guardar el nuevo equipo -->
            <button type="submit" class="btn btn-success float-end">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal para subir jugadores desde plantilla -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': showModalSubirJugadores}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="stripeModalLabel">Sube la plantilla para cargar los jugadores</h5>
          <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModalSubirJugadores()"></button>
        </div>
        <div class="modal-body">
          <p>Solo es obligatorio rellenar el nombre, el resto de campos se podrían dejar vacíos. Descarga la plantilla
            para poder rellenar los jugadores. Pulsa en <a href="https://appsphairatech.com/images/docs/Plantilla.xlsx"
              download="Plantilla.xlsx">
              descargar plantilla.
            </a></p>
          <div class="mb-3">
            <form [formGroup]="excelForm" class="form-upload" (ngSubmit)="uploadExcel()" enctype="multipart/form-data">
              <div class="mb-3" style="text-align: center;">
                <h4>Sube tu archivo Excel</h4>
                <div class="form-group">
                  <label for="excelFile">Seleccionar archivo en formato XLSX:</label>
                  <input type="file" id="excelFile" accept=".xlsx" (change)="onFileSelected($event)"
                    class="form-control-file">
                  <div *ngIf="fileName" class="mt-2">Archivo seleccionado: {{ fileName }}</div>
                </div>
                <button *ngIf="showUploadButton" style="margin-top: 1em;" type="submit" class="btn btn-primary">Subir
                  archivo</button>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <!-- Botón para guardar el nuevo equipo -->
            <button type="submit" class="btn btn-success float-end"
              (click)="cerrarModalSubirJugadores()">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>