/* styles.scss */
  .card {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 250px;
  }
  
  .card-title {
    font-weight: bold;
  }
  
  .card-text {
    font-size: 14px;
  }
  
  .btn-danger {
    margin-right: 10px;
  }


  
  
  