<div class="background">
  
  <img src="assets/images/fondoLoginV1.png" alt="GIF de jugando" class="video-background">

  <!--CAMBIAR CONTRASEÑA-->
  <div class="container">
    <div class="row justify-content-center" style="padding-top: 2%;">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header textoCentrado d-flex" style="background-color: #31b270;">
            <img src="assets/images/Logo_SphairaTech1.svg" alt="Logo"
              style="cursor: pointer; width: 10em;">
          </div>
          <div class="card-body textoCentrado">
            <div>
              <form [formGroup]="cambiarPassForm" (ngSubmit)="cambiarPass()" class="form-register">
                <div class="mb-3 d-flex">
                  <div class="col-6">
                    <label for="password" class="form-label">Ingresa tu nueva contraseña</label>
                    <input type="password" class="form-control input-register" id="password" formControlName="password"
                      placeholder="Ingresa tu contraseña" (input)="checkPasswordMatch()">
                  </div>
                  <div class="col-6" style="margin-left: 10px;">
                    <label for="password2" class="form-label">Repite la nueva contraseña</label>
                    <input type="password" class="form-control input-register" id="password2"
                      formControlName="password2" placeholder="Repite la contraseña" (input)="checkPasswordMatch()">
                    <div *ngIf="passwordsDoNotMatch" class="text-danger">
                      Las contraseñas no coinciden.
                    </div>
                  </div>
                </div>
                <button type="submit" [disabled]="passwordsDoNotMatch"
                  class="btn btn-primary btn-block textoCentrado">Cambiar contraseña</button>
              </form>
            </div>
          </div>
          <div class="card-footer textoCentrado" style="flex-direction: column;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
