<div class="submenu">
    <div class="row">
        <div class="col">
            <a class="no-underline" href="javascript:void(0);" (click)="goBack()">
                <i class="bi bi-arrow-left-square-fill"></i>
                <span class="d-none d-md-inline">Volver</span>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row p-3 mt-3">
        <div class="col-12 col-md-3 mb-3">
            <label class="form-label">Subir nuevo documento:</label>
            <button class="btn btn-success form-control" (click)="openModalSubirDoc()">
                Subir doc <i class="bi bi-filetype-pdf"></i>
            </button>
        </div>
        <div class="col-12 col-md-3 mb-3">
            <label class="form-label">Requerir documento al jugador:</label>
            <button class="btn btn-success form-control" (click)="openModalSubirSinDoc()">
                Requerir doc <i class="bi bi-filetype-pdf"></i>
            </button>
        </div>
    </div>

    <div class="table-responsive mb-3 mt-3">
        <table class="table table-striped table-hover text-center">
            <thead class="table-dark" style="cursor: pointer;">
                <tr>
                    <th (click)="ordenarPor('index')">#</th>
                    <th (click)="ordenarPor('nombre')">Nombre</th>
                    <th (click)="ordenarPor('descripcion')">Descripción</th>
                    <th (click)="ordenarPor('tipo')">Tipo</th>
                    <th (click)="ordenarPor('fecCreate')">Fecha</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let doc of listDocuments; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ doc.nombre }}</td>
                    <td style="max-width: 50px; white-space: normal; word-break: break-word;">
                        {{ doc.descripcion }}
                    </td>
                    <td>{{ doc.tipo }}</td>
                    <td>{{ doc.fecCreate | date:'dd/MM/yyyy' }}</td>
                    <td>
                        <div class="row text-center gx-1">
                            <div class="col">
                                <button class="btn btn-custom-black w-100" title="Visible para jugadores o solo club"
                                    (click)="visible(doc, doc.docClubesId, doc.visible)">
                                    <i [ngClass]="doc.visible === 0 ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
                                </button>
                            </div>

                            <div class="col">
                                <button class="btn btn-custom-black w-100"
                                    title="Permitir que los padres suban el documento"
                                    (click)="requiere(doc, doc.docClubesId, doc.requiere)">
                                    <i
                                        [ngClass]="doc.requiere === 1 ? 'bi bi-file-earmark-arrow-up' : 'bi bi-slash-lg'"></i>
                                </button>
                            </div>

                            <div class="col">
                                <button class="btn btn-custom-black w-100" title="Abrir documento en nueva pestaña"
                                    *ngIf="doc.file; else botonInvisible" (click)="abrirPdf(doc.file)">
                                    <i class="bi bi-box-arrow-up-right"></i>
                                </button>
                                <ng-template #botonInvisible>
                                    <button class="btn btn-custom-black w-100 invisible"><i
                                            class="bi bi-box-arrow-up-right"></i></button>
                                </ng-template>
                            </div>

                            <div class="col">
                                <button class="btn btn-custom-black w-100" title="Copiar link del documento"
                                    *ngIf="doc.file; else botonInvisible2" (click)="copyLink(doc.file)">
                                    <span class="bi bi-copy"></span>
                                </button>
                                <ng-template #botonInvisible2>
                                    <button class="btn btn-custom-black w-100 invisible"><i
                                            class="bi bi-copy"></i></button>
                                </ng-template>
                            </div>

                            <div class="col">
                                <button class="btn btn-danger w-100" title="Eliminar documento"
                                    (click)="confirmarEliminarDoc(i, doc.docClubesId, doc.nombre)">
                                    <span class="bi bi-trash"></span>
                                </button>
                            </div>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal para subir documento del club -->
<div class="modal fade" tabindex="-1" role="dialog" [ngClass]="{ 'show': mostrarModalDocumento }"
    [style.display]="mostrarModalDocumento ? 'block' : 'none'">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Subir Documento (PDF o Word)</h5>
                <button type="button" class="btn-close" (click)="cerrarModalDocumento()"></button>
            </div>

            <div class="modal-body">
                <form [formGroup]="formDocumento">
                    <div class="mb-3">
                        <label>Nombre del Documento:</label>
                        <input formControlName="nombre" type="text" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label>Descripción:</label>
                        <textarea formControlName="descripcion" class="form-control" rows="2"></textarea>
                    </div>

                    <div class="mb-3">
                        <label>Tipo:</label>
                        <input formControlName="tipo" type="text" class="form-control" />
                    </div>

                    <div class="mb-3 form-check form-switch">
                        <input type="checkbox" formControlName="visible" class="form-check-input" id="visibleSwitch">
                        <label class="form-check-label" for="visibleSwitch">Visible para jugadores</label>
                    </div>

                    <div class="mb-3 form-check form-switch">
                        <input type="checkbox" formControlName="requiereD" class="form-check-input" id="requiereD">
                        <label class="form-check-label" for="requiereD">Habilita este botón para permitir a los
                            padres/jugadores subir este documento cumplimentado.</label>
                    </div>

                    <div class="mb-3">
                        <label>Seleccionar archivo (.pdf o .doc/.docx):</label>
                        <input type="file" class="form-control" (change)="onFileSelected($event)"
                            accept=".pdf,.doc,.docx" />
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary" (click)="cerrarModalDocumento()">Cancelar</button>
                <button class="btn btn-primary" [disabled]="!formDocumento.valid || !archivoSeleccionado"
                    (click)="subirDocumento()">Subir</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal para subir documento del club -->
<div class="modal fade" tabindex="-1" role="dialog" [ngClass]="{ 'show': mostrarModalSinDocumento }"
    [style.display]="mostrarModalSinDocumento ? 'block' : 'none'">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Documento que se requiere</h5>
                <button type="button" class="btn-close" (click)="cerrarModalSinDocumento()"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="documentoSinSubir">
                    <div class="mb-3">
                        <label>Nombre del Documento:</label>
                        <input formControlName="nombreSin" type="text" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label>Descripción:</label>
                        <textarea formControlName="descripcionSin" class="form-control" rows="2"></textarea>
                    </div>

                    <div class="mb-3">
                        <label>Tipo:</label>
                        <input formControlName="tipoSin" type="text" class="form-control" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" (click)="cerrarModalSinDocumento()">Cancelar</button>
                <button class="btn btn-primary" [disabled]="!documentoSinSubir.valid"
                    (click)="subirSinDocumento()">Aceptar</button>
            </div>
        </div>
    </div>
</div>