.scrollable-list {
    height: 100px;
    /* Altura fija */
    overflow-y: auto;
    /* Activar scroll vertical */
    width: 100%;
    /* Ocupa todo el ancho disponible */
    margin: 0;
    /* Elimina márgenes predeterminados */
    padding: 0 10px;
    /* Añade un poco de padding a los lados */
    list-style-type: none;
    /* Elimina los puntos del listado */
    box-sizing: border-box;
    /* Asegura que padding no altere el ancho total */
}

.scrollable-list::-webkit-scrollbar {
    width: 6px;
    /* Ancho del scroll en navegadores WebKit */
}

.scrollable-list::-webkit-scrollbar-thumb {
    background-color: #28a745;
    /* Color verde del scroll */
    border-radius: 10px;
    /* Bordes redondeados */
}

.scrollable-list::-webkit-scrollbar-thumb:hover {
    background-color: #218838;
    /* Un verde más oscuro al pasar el mouse */
}

.scrollable-list::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Fondo del track del scroll */
    border-radius: 10px;
    /* Bordes redondeados */
}

.scrollable-list::-moz-scrollbar {
    scrollbar-color: #28a745 #f1f1f1;
    /* Para Firefox: color del scroll y del track */
    scrollbar-width: thin;
    /* Tamaño del scroll en Firefox */
}

.fixed-card {
    height: 18em;
    /* Altura fija para todas las tarjetas */
    overflow: hidden;
    /* Evita que el contenido sobresalga */
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}