<div class="submenu">
  <div class="row">
    <div class="col text-center">
      <a class="no-underline" href="javascript:void(0);" (click)="irAPantalla(0)">
        <i class="bi bi-house"></i>
        <span class="d-none d-md-inline">Inicio</span>
      </a>
    </div>
    <div class="col">
      <a class="no-underline" href="javascript:void(0);" (click)="irAPantalla(1)">
        <i class="bi bi-info-circle"></i>
        <span class="d-none d-md-inline">Información Jugadores</span>
      </a>
    </div>
    <div class="col">
      <a class="no-underline" href="javascript:void(0);" (click)="irAPantalla(2)">
        <i class="bi bi-people-fill"></i>
        <span class="d-none d-md-inline">Estadísticas de Entrenadores</span>
      </a>
    </div>
    <div class="col">
      <a class="no-underline" href="javascript:void(0);" (click)="irAPantalla(3)">
        <span class="icon-container d-none d-md-flex">
          <i class="bi bi-bar-chart-line"></i>
          <i class="bi bi-shield"></i>
        </span>
        <i class="bi bi-shield d-md-none"></i>
        <span class="d-none d-md-inline">Estadísticas del Equipo</span>
      </a>
    </div>
    <div class="col">
      <a class="no-underline" href="javascript:void(0);" (click)="irAPantalla(4)">
        <span class="icon-container d-none d-md-flex">
          <i class="bi bi-bar-chart-line"></i>
          <i class="bi bi-person"></i>
        </span>
        <i class="bi bi-person d-md-none"></i>
        <span class="d-none d-md-inline">Estadísticas por Jugador</span>
      </a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 p-3" style="margin-top: 3em;">
    <div class="col mb-3" style="cursor: pointer;" (click)="irAPantalla(1)">
      <div class="card h-100" style="border: 1px solid black;">
        <div class="card-body d-flex flex-column text-center">
          <h5 class="card-title mt-auto" style="color: black; white-space: nowrap; text-overflow: ellipsis;">
            Cuotas
          </h5>
          <div class="row mb-2 flex-grow-1 d-flex justify-content-center align-items-center">
            <div class="col d-flex justify-content-center align-items-center">
              <ng-container>
                <img style="width: 10em;" src="/assets/iconos/cuotas.svg" class="card-img-top mx-auto d-block p-3"
                  alt="Scouting Icon">
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col mb-3" style="cursor: pointer;" (click)="irAPantalla(2)">
      <div class="card h-100" style="border: 1px solid black;">
        <div class="card-body d-flex flex-column text-center">
          <h5 class="card-title mt-auto" style="color: black; white-space: nowrap; text-overflow: ellipsis;">
            Puntuación equipos
          </h5>
          <div class="row mb-2 flex-grow-1 d-flex justify-content-center align-items-center">
            <div class="col d-flex justify-content-center align-items-center">
              <ng-container>
                <img style="width: 10em;" src="/assets/iconos/puntos.svg" class="card-img-top mx-auto d-block p-3"
                  alt="Scouting Icon">
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col mb-3" style="cursor: pointer;" (click)="irAPantalla(3)">
      <div class="card h-100" style="border: 1px solid black;">
        <div class="card-body d-flex flex-column text-center">
          <h5 class="card-title mt-auto" style="color: black; white-space: nowrap; text-overflow: ellipsis;">
            Entrenamientos creados
          </h5>
          <div class="row mb-2 flex-grow-1 d-flex justify-content-center align-items-center">
            <div class="col d-flex justify-content-center align-items-center">
              <ng-container>
                <img style="width: 10em;" src="/assets/iconos/entrenamientos.svg"
                  class="card-img-top mx-auto d-block p-3" alt="Scouting Icon">
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col mb-3" style="cursor: pointer;" (click)="irAPantalla(4)">
      <div class="card h-100" style="border: 1px solid black;">
        <div class="card-body d-flex flex-column text-center">
          <h5 class="card-title mt-auto" style="color: black; white-space: nowrap; text-overflow: ellipsis;">
            Entrenando hoy:
          </h5>
          <div class="row mb-2 flex-grow-1 d-flex justify-content-center align-items-center">
            <div class="col d-flex justify-content-center align-items-center">
              <ul class="scrollable-list">
                <li *ngFor="let equipo of listTeams">{{ equipo }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col mb-3" style="cursor: pointer;" (click)="irAPantalla(5)">
      <div class="card h-100" style="border: 1px solid black;">
        <div class="card-body d-flex flex-column text-center">
          <h5 class="card-title mt-auto" style="color: black; white-space: nowrap; text-overflow: ellipsis;">
            Resultados última jornada
          </h5>
          <div class="row mb-2 flex-grow-1 d-flex justify-content-center align-items-center">
            <div class="col d-flex justify-content-center align-items-center">
              <ng-container>
                <img style="width: 10em;" src="/assets/iconos/fecha-del-calendario.svg"
                  class="card-img-top mx-auto d-block p-3" alt="Scouting Icon">
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col mb-3" style="cursor: pointer;">
      <div class="card h-100" style="border: 1px solid black;">
        <div class="card-body d-flex flex-column text-center">
          <h5 class="card-title mt-auto" style="color: black; white-space: nowrap; text-overflow: ellipsis;">
            Proximos partidos
          </h5>
          <div class="row mb-2 flex-grow-1 d-flex justify-content-center align-items-center">
            <div class="col d-flex justify-content-center align-items-center">
              <ul class="scrollable-list">
                <li *ngFor="let equipo of listProximos">{{ equipo }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>