<div class="submenu">
    <div class="row">
        <div class="col">
            <a class="no-underline" href="javascript:void(0);" (click)="irAPantalla(0)">
                <i class="bi bi-calendar"></i>
                <span class="d-none d-md-inline">Cuadro de mandos</span>
            </a>
        </div>
    </div>
</div>

<div *ngIf="loading" class="spinner-container mt-3">
    <div class="spinnerLoad"></div>
</div>

<div *ngIf="datosCargados" class="container">
    <div style="margin-top: 3em;">
        <h2 class="text-dark mt-3">Listado de Jugadores</h2>
        <!-- Botón para exportar a Excel-->
        <button class="btn btn-success" style="margin-bottom: 2em;" (click)="exportTableToExcel()">
            <i class="bi bi-file-earmark-spreadsheet-fill"></i> Descargar Excel
        </button>
        <div class="row">
            <div class="col-3">
                <label for="teamSelected" class="form-label">Selecciona un equipo</label>
                <select class="form-control me-2" id="teamSelected" name="teamSelected" [(ngModel)]="teamSelected"
                    (change)="loadPlayersOfTeam()">
                    <option value="-1">Todos los equipos</option>
                    <option *ngFor="let team of teams; let i = index" [value]="i">{{ team.nameTeam }}</option>
                </select>
            </div>
            <div class="col-3">
            </div>
            <div class="col-3">
            </div>
            <div class="col-3">
                <label for="playerSearch" class="form-label">Buscar cualquier campo</label>
                <input type="text" class="form-control" id="playerSearch" [(ngModel)]="playerSearch"
                    (input)="applyFilter()" placeholder="Buscar...">
            </div>
        </div>

        <div class="row" style="margin-top: 3em;">
            <div style="overflow-x: auto; overflow-y: scroll; height: 30em;">
                <table id="dataTable" class="table table-bordered table-striped text-center">
                    <thead class="table-custom">
                        <tr style="border-top: 4px solid black;">
                            <th class="borde-izquierdo-gordo">IMAGEN</th>
                            <th>NOMBRE</th>
                            <th>EQUIPO</th>
                            <th>FECHA</th>
                            <th>TELEFONO</th>
                            <th>DNI</th>
                            <th>IMG_DNI</th>
                            <th>DOC</th>
                            <th class="borde-izquierdo-gordo">PADRE</th>
                            <th>DNI/NIE</th>
                            <th>TELEFONO</th>
                            <th>EMAIL</th>
                            <th class="borde-izquierdo-gordo">MADRE</th>
                            <th>DNI/NIE</th>
                            <th>TELEFONO</th>
                            <th>EMAIL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let player of filteredPlayers; let i = index">
                            <td class="borde-izquierdo-gordo" *ngIf="player.picturePlayer">
                                <div class="container">
                                    <img [src]="imageBaseUrlUser + player.picturePlayer" alt="user-player" width="50"
                                        height="50" class="rounded-circle me-2">
                                </div>
                            </td>
                            <td class="borde-izquierdo-gordo" *ngIf="!player.picturePlayer">
                                <div class="container">
                                    <span class="bi bi-person" style="font-size: 3rem;"></span>
                                </div>
                            </td>
                            <td>{{ player.nombre }} {{ player.apellido }}</td>
                            <td>{{ player.nameTeam }}</td>
                            <td>{{ player.fechaDeNacimiento }}</td>
                            <td>{{ player.telefono }}</td>
                            <td>{{ player.dni }}</td>
                            <td>
                                <button class="btn"
                                    [ngClass]="{'btn-primary': !player.imgDniUno || !player.imgDniDos, 'btn-success': player.imgDniUno && player.imgDniDos}"
                                    (click)="abrirModalDniJugador(player, i)">
                                    <i class="bi bi-person-badge"></i>
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-primary" (click)="abrirModalDocJugador(player, i)">
                                    <i class="bi bi-filetype-doc"></i>
                                </button>
                            </td>
                            <td class="borde-izquierdo-gordo">{{ player.nombrePadre }}</td>
                            <td>{{ player.dniPadre }}</td>
                            <td>{{ player.telefonoPadre }}</td>
                            <td>{{ player.emailPadre }}</td>
                            <td class="borde-izquierdo-gordo">{{ player.nombreMadre }}</td>
                            <td>{{ player.dniMadre }}</td>
                            <td>{{ player.telefonoMadre }}</td>
                            <td>{{ player.emailMadre }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal para subir el DNI del jugador -->
<div class="modal fade" tabindex="-1" role="dialog" [ngClass]="{'show': mostrarModalDniJugador}"
    [style.display]="mostrarModalDniJugador ? 'block' : 'none'">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content" style="min-height: 60vh;">
            <div class="modal-header">
                <h5 class="modal-title">Subir DNI del Jugador, Padre, Madre o Tutor</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModalDniJugador()"></button>
            </div>
            <div class="modal-body">
                <h2>DNI del Jugador</h2>
                <p style="color: red">Haz clic en "Seleccionar archivo" y elige o haz la foto que desees.
                    Solo se pueden subir imágenes en formato PNG o JPEG.</p>
                <div class="row mt-3 mb-3">
                    <!-- Sección para la primera cara del DNI -->
                    <div class="col-md-6">
                        <h6>Primera Cara del DNI</h6>
                        <div *ngIf="selectedPlayer?.imgDniUno || dniCara1">
                            <img [src]="dniCara1 ? dniCara1 : imageBaseUrlPlayerDni + selectedPlayer?.imgDniUno"
                                alt="Primera Cara del DNI" class="img-thumbnail mb-2" />
                        </div>
                        <input type="file" (change)="onFileChange($event, 'cara1')" accept="image/*" />
                        <!--<button style="margin-right: 2em;" class="btn btn-success mt-2"
                            (click)="subirCaraDni('cara1')">Subir Primera Cara</button> -->
                        <button *ngIf="selectedPlayer?.imgDniUno" class="form-group btn btn-primary mt-2"
                            title="Descargar cara 1"
                            (click)="descargarImagen(imageBaseUrlPlayerDni + selectedPlayer.imgDniUno, 'dni_cara1.jpg')">
                            Descargar <i class="bi bi-cloud-download"></i>
                        </button>
                    </div>

                    <!-- Sección para la segunda cara del DNI -->
                    <div class="col-md-6">
                        <h6>Segunda Cara del DNI</h6>
                        <div *ngIf="selectedPlayer?.imgDniDos || dniCara2">
                            <img [src]="dniCara2 ? dniCara2 : imageBaseUrlPlayerDni + selectedPlayer?.imgDniDos"
                                alt="Segunda Cara del DNI" class="img-thumbnail mb-2" />
                        </div>
                        <input type="file" (change)="onFileChange($event, 'cara2')" accept="image/*" />
                        <!--<button style="margin-right: 2em;" class="btn btn-success mt-2"
                            (click)="subirCaraDni('cara2')">Subir Segunda Cara</button> -->
                        <button *ngIf="selectedPlayer?.imgDniDos" class="form-group btn btn-primary mt-2"
                            title="Descargar cara 2"
                            (click)="descargarImagen(imageBaseUrlPlayerDni + selectedPlayer.imgDniDos, 'dni_cara2.jpg')">
                            Descargar <i class="bi bi-cloud-download"></i>
                        </button>
                    </div>
                </div>


                <hr style="margin-top: 2em;">
                <h2 style="margin-top: 1em;">DNI del Padre, Madre o Tutor 1</h2>
                <div class="row mt-3 mb-3">
                    <!-- Sección para la primera cara del DNI -->
                    <div class="col-md-6">
                        <h6>Primera Cara del DNI</h6>
                        <div *ngIf="selectedPlayer?.dniPadre1 || dniCara3">
                            <img [src]="dniCara3 ? dniCara3 : imageBaseUrlPlayerDni + selectedPlayer?.dniPadre1"
                                alt="Primera Cara del DNI" class="img-thumbnail mb-2" />
                        </div>
                        <input type="file" (change)="onFileChange($event, 'cara3')" accept="image/*" />
                        <!--<button style="margin-right: 2em;" class="btn btn-success mt-2"
                            (click)="subirCaraDni('cara3')">Subir Primera Cara</button> -->
                        <button *ngIf="selectedPlayer?.dniPadre1" class="form-group btn btn-primary mt-2"
                            title="Descargar cara 1"
                            (click)="descargarImagen(imageBaseUrlPlayerDni + selectedPlayer.dniPadre1, 'dni_cara1.jpg')">
                            Descargar <i class="bi bi-cloud-download"></i>
                        </button>
                    </div>

                    <!-- Sección para la segunda cara del DNI -->
                    <div class="col-md-6">
                        <h6>Segunda Cara del DNI</h6>
                        <div *ngIf="selectedPlayer?.dniPadre2 || dniCara4">
                            <img [src]="dniCara4 ? dniCara4 : imageBaseUrlPlayerDni + selectedPlayer?.dniPadre2"
                                alt="Segunda Cara del DNI" class="img-thumbnail mb-2" />
                        </div>
                        <input type="file" (change)="onFileChange($event, 'cara4')" accept="image/*" />
                        <!--<button style="margin-right: 2em;" class="btn btn-success mt-2"
                            (click)="subirCaraDni('cara4')">Subir Segunda Cara</button> -->
                        <button *ngIf="selectedPlayer?.dniPadre2" class="form-group btn btn-primary mt-2"
                            title="Descargar cara 2"
                            (click)="descargarImagen(imageBaseUrlPlayerDni + selectedPlayer.dniPadre2, 'dni_cara2.jpg')">
                            Descargar <i class="bi bi-cloud-download"></i>
                        </button>
                    </div>
                </div>

                <hr style="margin-top: 2em;">
                <h2 style="margin-top: 1em;">DNI del Padre, Madre o Tutor 2</h2>
                <div class="row mt-3 mb-3">
                    <!-- Sección para la primera cara del DNI -->
                    <div class="col-md-6">
                        <h6>Primera Cara del DNI</h6>
                        <div *ngIf="selectedPlayer?.dniMadre1 || dniCara5">
                            <img [src]="dniCara5 ? dniCara5 : imageBaseUrlPlayerDni + selectedPlayer?.dniMadre1"
                                alt="Primera Cara del DNI" class="img-thumbnail mb-2" />
                        </div>
                        <input type="file" (change)="onFileChange($event, 'cara5')" accept="image/*" />
                        <!--<button style="margin-right: 2em;" class="btn btn-success mt-2"
                            (click)="subirCaraDni('cara5')">Subir Primera Cara</button> -->
                        <button *ngIf="selectedPlayer?.dniMadre1" class="form-group btn btn-primary mt-2"
                            title="Descargar cara 1"
                            (click)="descargarImagen(imageBaseUrlPlayerDni + selectedPlayer.dniMadre1, 'dni_cara1.jpg')">
                            Descargar <i class="bi bi-cloud-download"></i>
                        </button>
                    </div>

                    <!-- Sección para la segunda cara del DNI -->
                    <div class="col-md-6">
                        <h6>Segunda Cara del DNI</h6>
                        <div *ngIf="selectedPlayer?.dniMadre2 || dniCara6">
                            <img [src]="dniCara6 ? dniCara6 : imageBaseUrlPlayerDni + selectedPlayer?.dniMadre2"
                                alt="Segunda Cara del DNI" class="img-thumbnail mb-2" />
                        </div>
                        <input type="file" (change)="onFileChange($event, 'cara6')" accept="image/*" />
                        <!--<button style="margin-right: 2em;" class="btn btn-success mt-2"
                            (click)="subirCaraDni('cara6')">Subir Segunda Cara</button> -->
                        <button *ngIf="selectedPlayer?.dniMadre2" class="form-group btn btn-primary mt-2"
                            title="Descargar cara 2"
                            (click)="descargarImagen(imageBaseUrlPlayerDni + selectedPlayer.dniMadre2, 'dni_cara2.jpg')">
                            Descargar <i class="bi bi-cloud-download"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal para ver documentacion del jugador -->
<div class="modal fade" tabindex="-1" role="dialog" [ngClass]="{'show': mostrarModalDocJugador}"
    [style.display]="mostrarModalDocJugador ? 'block' : 'none'">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content" style="min-height: 80vh;">
            <div class="modal-header">
                <h5 class="modal-title">Documentación del Jugador</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModalDocJugador()"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div *ngFor="let doc of listaDocumentos" class="col-12 mb-3 p-3 rounded"
                        style="background-color: #212529; border: 1px solid black; color: white;">
                        <h5 class="fw-bold">{{ doc.nombre }}</h5>
                        <p *ngIf="doc.requiere < 2">{{ doc.descripcion }}</p>
                        <div class="d-flex gap-2">
                            <!-- Botón de descarga (solo si requiere === 0)
                <button *ngIf="doc.requiere === 0" class="btn btn-light" (click)="descargar(doc)"
                    title="Descargar documento">
                    <i class="bi bi-arrow-down-circle"></i>
                </button> -->

                            <!-- Botón de descarga (solo si requiere === 0) -->
                            <button *ngIf="doc.requiere === 0 || doc.fileClub" class="btn btn-light"
                                (click)="descargar(doc)" title="Descargar documento" [ngClass]="{
                    'bg-secondary text-white': doc.descargado === 0,
                    'bg-success text-white': doc.descargado === 1
                }">
                                <i class="bi bi-arrow-down-circle"></i>
                            </button>

                            <!-- Botón de subida (solo si requiere === 1) -->
                            <button *ngIf="doc.requiere === 1" class="btn btn-light" (click)="subir(doc)"
                                title="Subir documento" [ngClass]="{
                    'bg-secondary text-white': doc.subido === 0,
                    'bg-success text-white': doc.subido === 1
                }">
                                <i class="bi bi-arrow-up-circle"></i>
                            </button>

                            <!-- Botón de subida (solo si requiere === 1) -->
                            <button *ngIf="doc.requiere === 1 && doc.subido === 1" class="btn btn-light"
                                (click)="verDocSubido(doc)" title="Ver documento" [ngClass]="{
                    'bg-secondary text-white': doc.subido === 0,
                    'bg-success text-white': doc.subido === 1
                }">
                                <i class="bi bi-eye"></i>
                            </button>

                            <!-- Botón de subida (solo si requiere === 1) -->
                            <button *ngIf="doc.requiere === 2" class="btn btn-light"
                                (click)="rellenarPersonalizado(doc)" title="Subir documento" [ngClass]="{
                    'bg-secondary text-white': doc.subido === 0,
                    'bg-success text-white': doc.subido === 1
                }">
                                <i class="bi bi-card-text"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal para subir documento del club -->
<div class="modal fade" tabindex="-1" role="dialog" [ngClass]="{ 'show': mostrarModalDocumento }"
    [style.display]="mostrarModalDocumento ? 'block' : 'none'">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Subir Documento (PDF, Word o imagen)</h5>
                <button type="button" class="btn-close" (click)="cerrarModalDocumento()"></button>
            </div>
            <div class="modal-body">
                <ng-template #subirNuevoArchivo>
                    <p>Aquí puedes subir el archivo que se está solicitando.</p>
                </ng-template>

                <div class="mb-3">
                    <label>Seleccionar archivo (.png, .jpg, .pdf o .doc/.docx):</label>
                    <input type="file" class="form-control" (change)="onFileSelected($event)"
                        accept=".pdf,.doc,.docx,.jpg,.png,.jpeg" />
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" (click)="cerrarModalDocumento()">Cancelar</button>
                <button class="btn btn-primary" (click)="subirDocumento()">Subir</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal texto personalizado -->
<div class="modal fade" tabindex="-1" [ngClass]="{ 'show': mostrarModalEditarPersonalizado }"
    [style.display]="mostrarModalEditarPersonalizado ? 'block' : 'none'">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Requerimiento Personalizado</h5>
                <button type="button" class="btn-close" (click)="cerrarModalEditarPersonalizado()"></button>
            </div>
            <div class="modal-body">
                <div *ngIf="showDate">
                    <h3 class="form-label"><b>Modificado y autorizado el día: {{ fechaEditando }}</b></h3>
                    <hr>
                </div>
                <label class="form-label">Contenido del mensaje:</label>
                <div class="form-group">
                    <div class="form-control" id="editorPersonalizado" contenteditable="true"
                        [innerHTML]="contenidoEditando">
                    </div>
                </div>
                <div class="form-check mb-3 mt-3">
                    <input type="checkbox" class="form-check-input" id="checkboxReq" [(ngModel)]="requiereRespuesta">
                    <label for="checkboxReq" class="form-check-label"> {{ tituloEditando }}</label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" (click)="cerrarModalEditarPersonalizado()">Cancelar</button>
                <button class="btn btn-success" (click)="guardarEdicionPersonalizado()">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para subir documento del club -->
<div class="modal fade" tabindex="-1" role="dialog" [ngClass]="{ 'show': mostrarModalDocumentoOjo }"
    [style.display]="mostrarModalDocumentoOjo ? 'block' : 'none'">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Subir Documento (PDF, Word o imagen)</h5>
                <button type="button" class="btn-close" (click)="cerrarModalDocumentoOjo()"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3 text-center"
                    *ngIf="docPadreTemp?.subido === 1 && docPadreTemp?.filePadre; else subirNuevoArchivo">
                    <ng-container *ngIf="esImagen(docPadreTemp.filePadre); else mostrarBotonDocumento">
                        <p class="mb-2">Documento ya subido:</p>
                        <img [src]="'https://appsphairatech.com/images/docs-padres/' + docPadreTemp.filePadre"
                            alt="Documento subido" class="img-fluid rounded shadow-sm"
                            style="max-width: 100%; max-height: 350px; object-fit: contain;" />
                    </ng-container>

                    <ng-template #mostrarBotonDocumento>
                        <p class="mb-2">Documento ya subido: {{ docPadreTemp.filePadre }}</p>
                        <a class="btn btn-primary"
                            [href]="'https://appsphairatech.com/images/docs-padres/' + docPadreTemp.filePadre"
                            target="_blank" rel="noopener">
                            Ver / Descargar documento <i class="bi bi-box-arrow-up-right ms-1"></i>
                        </a>
                    </ng-template>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" (click)="cerrarModalDocumentoOjo()">Cerrar</button>
            </div>
        </div>
    </div>
</div>