<div *ngIf="datosCargados" class="container">
    <div class="btn-container mt-3">
        <div class="row">
            <div class="col"><button class="btn btn-custom" (click)="navegarACalendario()">
                    <i class="bi bi-calendar"></i>
                </button>
                <div class="hint">Volver al calendario</div>
            </div>
        </div>
    </div>
    <div class="btn-container mt-3">
        <div class="row mt-3">
            <div class="col">
                <button class="btn btn-custom" (click)="verGraficaPlayers()">
                    <i class="bi bi-bar-chart-line"></i>
                </button>
                <div class="hint">Ver gráficas jugadores</div>
            </div>
        </div>
    </div>

    <!-- Contenido para el dataTable -->
    <div class="container mt-4">
        <h2>Tabla Jugadores</h2>
        <div class="row justify-content-between div-headdatatable">
            <div class="col-md-auto mr-auto" id="dt-length">
                <!-- Contenido para el dt-length -->
            </div>
            <div class="col-md-auto ml-auto" id="dt-search">
            </div>
        </div>
        <div style="overflow-x: auto;">
            <table id="dataTable" class="table table-bordered table-striped text-center">
                <thead class="table-custom">
                    <tr>
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>POSICION</th>
                        <th>FECHA_NACIMIENTO</th>
                        <th>PARTIDOS_JUGADOS</th>
                        <th>MINUTOS_TOTALES</th>
                        <th>MEDIA_MINUTOS_PARTIDO</th>
                        <th>GOLES</th>
                        <th>MEDIA_GOLES_PARTIDO</th>
                        <th>ASISTENCIA</th>
                        <th>GOLES_ASISTENCIAS</th>
                        <th>MEDIA_ASISTENCIA_PARTIDO</th>
                        <th>MEDIA_GOLES_ASISTENCIA_PARTIDO</th>
                        <th>GOLES_PENALTI</th>
                        <th>GOLES_FALTA</th>
                        <th>PENALTIS_FALLADOS</th>
                        <th>TARJETAS_AMARILLAS</th>
                        <th>TARJETAS_ROJAS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let player of players; let i = index">
                        <td>{{ player.playerId }}</td>
                        <td>{{ player.nombre }}</td>
                        <td>{{ player.posicion }}</td>
                        <td>{{ player.fecha }}</td>
                        <td>{{ player.partidosJugados }} de {{ totalMatchs }}</td>
                        <td>{{ player.minTotales }}</td>
                        <td>{{ player.mediaMinPorPartido }}</td>
                        <td>{{ player.goles }}</td>
                        <td>{{ player.mediaGolesPorPartido }}</td>
                        <td>{{ player.asistencias }}</td>
                        <td>{{ player.golesAsistencias }}</td>
                        <td>{{ player.mediaAsistPorPartido }}</td>
                        <td>{{ player.mediaGolesAsistenciasPorPartido }}</td>
                        <td>{{ player.golesPenalti }}</td>
                        <td>{{ player.golesFalta }}</td>
                        <td>{{ player.penaltisFallados }}</td>
                        <td>{{ player.tarAmarilla }}</td>
                        <td>{{ player.tarRojas }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="button_datatable">
    </div>
</div>



<!-- aqui las graficas de los jugadores -->

<div *ngIf="graficasPlayers" class="container">
    <div class="btn-container mt-3">
        <div class="row">
            <div class="col"><button class="btn btn-custom" (click)="navegarACalendario()">
                    <i class="bi bi-calendar"></i>
                </button>
                <div class="hint">Volver al calendario</div>
            </div>
        </div>
    </div>
    <div class="btn-container mt-3">
        <div class="row mt-3">
            <div class="col">
                <button class="btn btn-custom" (click)="verTablaPlayers()">
                    <i class="bi bi-table"></i>
                </button>
                <div class="hint">Ver tabla jugadores</div>
            </div>
        </div>
    </div>

    <!-- Contenido para el dataTable -->
    <div class="container mt-4">
        <h2>Gráfica Jugadores</h2>

        <div class="row mb-3">
            <label for="grafica" class="form-label">Selecciona el tipo de gráfica:</label>
            <select class="form-control" id="selectGrafica" (change)="changeGrafic($event)">
                <option value="1">Minutos totales</option>
                <option value="2">Goles totales</option>
                <option value="3">Asistencias totales</option>
                <option value="4">Partidos jugados</option>
                <option value="5">Goles de penalti</option>
                <option value="6">Penaltis fallados</option>
                <option value="7">Tarjetas amarillas</option>
                <option value="8">Tarjetas rojas</option>
            </select>
        </div>
        <div class="row mb-3">
            <div class="scroll: auto">
                <div class="col-md-12">
                    <canvas style="display: block; box-sizing: border-box; min-height: 200px; max-height: 500px;"
                        height="200" id="barChartUnica"></canvas>
                </div>
            </div>
        </div>

        <h2>Goles Jugadores</h2>
        <div class=" row mb-3">
            <label for="grafica" class="form-label">Selecciona un jugador:</label>
            <select class="form-control" id="selectGrafica" (change)="seleccionarIndices($event)">
                <option value="0">Ver todos</option>
                <option *ngFor="let player of players" [value]="player.playerId">{{ player.nombre }}
                </option>
            </select>
        </div>

        <div class="row justify-content-between div-headdatatable">
            <div class="col-md-auto mr-auto" id="dt-length">
                <!-- Contenido para el dt-length -->
            </div>
            <div class="col-md-auto ml-auto" id="dt-search">
            </div>
        </div>
        <div class=" row mb-3" style="overflow-x: auto;">
            <table id="dataTableGoles" class="table table-bordered table-striped text-center">
                <thead class="table-custom">
                    <tr>
                        <th>Nº_DE_GOL</th>
                        <th>GOL_DE</th>
                        <th>ASISTENCIA_DE</th>
                        <th>RIVAL</th>
                        <th>MINUTO</th>
                        <th>FECHA</th>
                        <th>CATEGORIA</th>
                        <th>SUB_CATEGORIA</th>
                        <th>OPCION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let player of golesAvanzadoAFavor; let i = index">
                        <td>{{ i+1 }}</td>
                        <td>{{ player.nombreGoleador }}</td>
                        <td>{{ player.nombreAsistente }}</td>
                        <td>{{ player.postPartido.matchPreparation.rivalName }}</td>
                        <td>{{ player.minuto }}</td>
                        <td>{{ player.postPartido.matchPreparation.matchDate }}</td>
                        <td>{{ player.category }}</td>
                        <td>{{ player.subCategory }}</td>
                        <td>{{ player.option }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="button_datatable">
        </div>


        <!-- de momento no se usa-->
        <div class="row">
            <div style="width: 50em; height: 30em;" class="col-md-12 mb-4">
                <canvas id="barrasChartMinutos"></canvas>
            </div>
            <div style="width: 50em; height: 30em;" class="col-md-6 mb-4">
                <canvas id="barrasChartGoles"></canvas>
            </div>
        </div>
    </div>
</div>