<div *ngIf="datosCargados" class="container">
    <div class="btn-container">
        <button class="btn btn-custom" (click)="navegarACalendario()">
            <i class="bi bi-calendar"></i>
        </button>
        <div class="hint">Volver al calendario</div>
    </div>

    <!-- Contenido para el dataTable -->
    <div class="container mt-4">
        <h2>Jugadores</h2>
        <div class="row justify-content-between div-headdatatable">
            <div class="col-md-auto mr-auto" id="dt-length">
                <!-- Contenido para el dt-length -->
            </div>
            <div class="col-md-auto ml-auto" id="dt-search">
            </div>
        </div>
        <div style="overflow-x: auto;">
            <table id="dataTable" class="table table-bordered table-striped text-center">
                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>POSICION</th>
                        <th>FECHA_NACIMIENTO</th>
                        <th>PARTIDOS_JUGADOS</th>
                        <th>MINUTOS_TOTALES</th>
                        <th>MEDIA_MINUTOS_PARTIDO</th>
                        <th>GOLES</th>
                        <th>MEDIA_GOLES_PARTIDO</th>
                        <th>ASISTENCIA</th>
                        <th>GOLES_ASISTENCIAS</th>
                        <th>MEDIA_ASISTENCIA_PARTIDO</th>
                        <th>MEDIA_GOLES_ASISTENCIA_PARTIDO</th>
                        <th>GOLES_PENALTI</th>
                        <th>GOLES_FALTA</th>
                        <th>PENALTIS_FALLADOS</th>
                        <th>TARJETAS_AMARILLAS</th>
                        <th>TARJETAS_ROJAS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let player of players; let i = index">
                        <td>{{ player.playerId }}</td>
                        <td>{{ player.nombre }}</td>
                        <td>{{ player.posicion }}</td>
                        <td>{{ player.fecha }}</td>
                        <td>{{ player.partidosJugados }} de {{ totalMatchs }}</td>
                        <td>{{ player.minTotales }}</td>
                        <td>{{ player.mediaMinPorPartido }}</td>
                        <td>{{ player.goles }}</td>
                        <td>{{ player.mediaGolesPorPartido }}</td>
                        <td>{{ player.asistencias }}</td>
                        <td>{{ player.golesAsistencias }}</td>
                        <td>{{ player.mediaAsistPorPartido }}</td>
                        <td>{{ player.mediaGolesAsistenciasPorPartido }}</td>
                        <td>{{ player.golesPenalti }}</td>
                        <td>{{ player.golesFalta }}</td>
                        <td>{{ player.penaltisFallados }}</td>
                        <td>{{ player.tarAmarilla }}</td>
                        <td>{{ player.tarRojas }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="button_datatable">
    </div>
</div>