<div *ngIf="datosCargados">

  <div class="container mt-3"
    *ngIf="this.usuarioActual!.profileType.profileId === 1 || this.usuarioActual!.profileType.profileId === 2">
    <div class="row">
      <div class="col">
        <button class="btn btn-custom btn-sm" (click)="irAPantalla(1)">Inicio</button>
      </div>
      <div class="col text-end">
        <button class="btn btn-custom btn-sm" (click)="abrirModal()">Ajustes</button>
      </div>
    </div>
    <div class="row" style="margin-top: 2em;">
      <div class="col">
        <button class="btn btn-custom btn-sm" (click)="openModalStripe()">Stripe<i
            class="bi bi-stripe ms-2"></i></button>
      </div>
    </div>

    <!-- Contenido para el dataTable -->
    <div class="container mt-4">
      <h2>Tabla Jugadores</h2>
      <div class="row justify-content-between div-headdatatable">
        <div class="col-md-auto mr-auto" id="dt-length">
          <!-- Contenido para el dt-length -->
        </div>
        <div class="col-md-auto ml-auto" id="dt-search">
        </div>
      </div>
      <div style="overflow-x: auto;">
        <table id="dataTable" class="table table-bordered table-striped text-center">
          <thead class="table-custom">
            <tr>
              <th>ID</th>
              <th>IMAGEN</th>
              <th>NOMBRE</th>
              <th>APELLIDOS</th>
              <th>EQUIPO</th>
              <th>ESTADO_PAGO</th>
              <th>ROPA</th>
              <th>PAGADO</th>
              <th>RESTANTE</th>
              <th>CUOTA_CLUB</th>
              <th>CUOTA_ROPA</th>
              <th>VERIFICADO</th>
              <th>ACCIONES</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let player of players; let i = index">
              <td>{{ player.playerId }}</td>
              <td *ngIf="player.picturePlayer">
                <div class="container">
                  <img src="https://sphairatech.com/images/user/{{ player.picturePlayer }}" alt="user-player" width="50"
                    height="50" class="rounded-circle me-2">
                </div>
              </td>
              <td *ngIf="!player.picturePlayer">
                <div class="container">
                  <span class="bi bi-person" style="font-size: 3rem;"></span>
                </div>
              </td>
              <td>{{ player.nombre }}</td>
              <td>{{ player.apellido }}</td>
              <td>{{ player.nameTeam }}</td>
              <td>
                <ng-container *ngIf="estadoPago(player.estado) === 0">
                  <i class="bi bi-x-circle text-danger" title="{{ player.estado }}"></i>
                </ng-container>
                <ng-container *ngIf="estadoPago(player.estado) === 1">
                  <i class="bi bi-exclamation-triangle text-warning" title="{{ player.estado }}"></i>
                </ng-container>
                <ng-container *ngIf="estadoPago(player.estado) === 2">
                  <i class="bi bi-check-circle text-success" title="{{ player.estado }}"></i>
                </ng-container>
                <ng-container *ngIf="estadoPago(player.estado) === 3">
                  <i class="bi bi-check-circle text-success" title="{{ player.estado }}"></i>
                </ng-container>
              </td>
              <td>{{ player.ropa }}</td>
              <td>{{ player.pagado }}</td>
              <td>{{ player.restante }}</td>
              <td>{{ player.cuota }}</td>
              <td>{{ player.cuotaSinRopa }}</td>
              <td>
                <ng-container *ngIf="player.verify === 0">
                  <i class="bi bi-x-circle text-danger" style="cursor: pointer;"
                    (click)="invitarJugador(player.playerId, player.teamId)"></i>
                  <i class="bi bi-envelope text-danger ms-2" style="cursor: pointer;"
                    (click)="invitarJugador(player.playerId, player.teamId)"></i>
                </ng-container>
                <ng-container *ngIf="player.verify === 1">
                  <i class="bi bi-check-circle text-success"></i>
                </ng-container>
              </td>
              <td>
                <i class="bi bi-pencil" style="cursor: pointer;" (click)="openModalEditar(player.playerId)"
                  title="Editar cuota del jugador"></i>
                <i class="bi bi-wallet2 ms-2" style="cursor: pointer;" (click)="openModalPago(player)"
                  title="Pagos del jugador"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div id="button_datatable">
    </div>
  </div>
</div>

<!-- Modal para la creación de equipo con información adicional -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': showModal}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="standard-modalLabel">Cuota del club</h5>
        <!-- Botón de cerrar con un icono -->
        <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModal()"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="createUpdateSettings()">
          <div class="mb-3">
            <label for="banco" class="form-label">Número de Cuenta del Banco:</label>
            <input type="text" class="form-control" id="banco" name="banco" [(ngModel)]="cuota.banco">
          </div>
          <div class="mb-3">
            <label for="asunto" class="form-label">Explicación para el asunto:</label>
            <textarea class="form-control" id="asunto" rows="5" name="asunto"
              placeholder="Ejemplo: Al realizar la transferencia, ponga nombre + DNI + Equipo (Alevin B)"
              [(ngModel)]="cuota.asunto"></textarea>
          </div>          
          <div class="mb-3">
            <label for="temporada" class="form-label">Temporada:</label>
            <select class="form-control" id="temporada" name="temporada" [(ngModel)]="clubCuotas.temporada" (change)="abrirModal()">
              <option value="2023">2023</option>
              <option value="2024">2024</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="totalCuota" class="form-label">Precio de la cuota del club:</label>
            <input type="text" class="form-control" id="totalCuota" name="totalCuota"
              [(ngModel)]="clubCuotas.totalCuota" disabled>
          </div>
          <div class="row mb-3" *ngIf="isFraccionado">
            <div class="col-md-6">
              <label for="cuotaRopa" class="form-label">Precio de la cuota de la ropa:</label>
              <input type="text" class="form-control" id="cuotaRopa" name="cuotaRopa"
                [(ngModel)]="clubCuotas.cuotaRopa">
            </div>
            <div class="col-md-6">
              <label for="cuotaRopaDate" class="form-label">Fecha de pago:</label>
              <input type="date" class="form-control" id="cuotaRopaDate" name="cuotaRopaDate"
                [(ngModel)]="clubCuotas.cuotaRopaDate">
            </div>
          </div>
          <div class="mb-3">
            <label for="numCuotas" class="form-label">Selecciona el número total de pagos o cuotas:</label>
            <select class="form-control" id="numCuotas" name="numCuotas" [(ngModel)]="clubCuotas.numCuotas">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
          </div>
          <div class="mb-3">
            <h2>Repartición de las cuotas</h2>
            <p>Segun el número total de pagos o cuotas que se haya seleccionado, ir rellenando cantidad y fecha de pago.
            </p>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="cuotaUno" class="form-label">Cuota 1:</label>
              <input type="text" class="form-control" id="cuotaUno" name="cuotaUno" [(ngModel)]="clubCuotas.cuotaUno">
            </div>
            <div class="col-md-6">
              <label for="cuotaUnoDate" class="form-label">Fecha de pago:</label>
              <input type="date" class="form-control" id="cuotaUnoDate" name="cuotaUnoDate"
                [(ngModel)]="clubCuotas.cuotaUnoDate">
            </div>
          </div>
          <div class="row mb-3" *ngIf="clubCuotas.numCuotas > 1">
            <div class="col-md-6">
              <label for="cuotaDos" class="form-label">Cuota 2:</label>
              <input type="text" class="form-control" id="cuotaDos" name="cuotaDos" [(ngModel)]="clubCuotas.cuotaDos">
            </div>
            <div class="col-md-6">
              <label for="cuotaDosDate" class="form-label">Fecha de pago:</label>
              <input type="date" class="form-control" id="cuotaDosDate" name="cuotaDosDate"
                [(ngModel)]="clubCuotas.cuotaDosDate">
            </div>
          </div>
          <div class="row mb-3" *ngIf="clubCuotas.numCuotas > 2">
            <div class="col-md-6">
              <label for="cuotaTres" class="form-label">Cuota 3:</label>
              <input type="text" class="form-control" id="cuotaTres" name="cuotaTres"
                [(ngModel)]="clubCuotas.cuotaTres">
            </div>
            <div class="col-md-6">
              <label for="cuotaTresDate" class="form-label">Fecha de pago:</label>
              <input type="date" class="form-control" id="cuotaTresDate" name="cuotaTresDate"
                [(ngModel)]="clubCuotas.cuotaTresDate">
            </div>
          </div>
          <div class="row mb-3" *ngIf="clubCuotas.numCuotas > 3">
            <div class="col-md-6">
              <label for="cuotaCuatro" class="form-label">Cuota 4:</label>
              <input type="text" class="form-control" id="cuotaCuatro" name="cuotaCuatro"
                [(ngModel)]="clubCuotas.cuotaCuatro">
            </div>
            <div class="col-md-6">
              <label for="cuotaCuatroDate" class="form-label">Fecha de pago:</label>
              <input type="date" class="form-control" id="cuotaCuatroDate" name="cuotaCuatroDate"
                [(ngModel)]="clubCuotas.cuotaCuatroDate">
            </div>
          </div>
          <div class="row mb-3" *ngIf="clubCuotas.numCuotas > 4">
            <div class="col-md-6">
              <label for="cuotaCinco" class="form-label">Cuota 5:</label>
              <input type="text" class="form-control" id="cuotaCinco" name="cuotaCinco"
                [(ngModel)]="clubCuotas.cuotaCinco">
            </div>
            <div class="col-md-6">
              <label for="cuotaCincoDate" class="form-label">Fecha de pago:</label>
              <input type="date" class="form-control" id="cuotaCincoDate" name="cuotaCincoDate"
                [(ngModel)]="clubCuotas.cuotaCincoDate">
            </div>
          </div>
          <div class="row mb-3" *ngIf="clubCuotas.numCuotas > 5">
            <div class="col-md-6">
              <label for="cuotaSeis" class="form-label">Cuota 6:</label>
              <input type="text" class="form-control" id="cuotaSeis" name="cuotaSeis"
                [(ngModel)]="clubCuotas.cuotaSeis">
            </div>
            <div class="col-md-6">
              <label for="cuotaSeisDate" class="form-label">Fecha de pago:</label>
              <input type="date" class="form-control" id="cuotaSeisDate" name="cuotaSeisDate"
                [(ngModel)]="clubCuotas.cuotaSeisDate">
            </div>
          </div>
          <div class="row mb-3" *ngIf="clubCuotas.numCuotas > 6">
            <div class="col-md-6">
              <label for="cuotaSiete" class="form-label">Cuota 7:</label>
              <input type="text" class="form-control" id="cuotaSiete" name="cuotaSiete"
                [(ngModel)]="clubCuotas.cuotaSiete">
            </div>
            <div class="col-md-6">
              <label for="cuotaSieteDate" class="form-label">Fecha de pago:</label>
              <input type="date" class="form-control" id="cuotaSieteDate" name="cuotaSieteDate"
                [(ngModel)]="clubCuotas.cuotaSieteDate">
            </div>
          </div>
          <div class="row mb-3" *ngIf="clubCuotas.numCuotas > 7">
            <div class="col-md-6">
              <label for="cuotaOcho" class="form-label">Cuota 8:</label>
              <input type="text" class="form-control" id="cuotaOcho" name="cuotaOcho"
                [(ngModel)]="clubCuotas.cuotaOcho">
            </div>
            <div class="col-md-6">
              <label for="cuotaOchoDate" class="form-label">Fecha de pago:</label>
              <input type="date" class="form-control" id="cuotaOchoDate" name="cuotaOchoDate"
                [(ngModel)]="clubCuotas.cuotaOchoDate">
            </div>
          </div>
          <div class="row mb-3" *ngIf="clubCuotas.numCuotas > 8">
            <div class="col-md-6">
              <label for="cuotaNueve" class="form-label">Cuota 9:</label>
              <input type="text" class="form-control" id="cuotaNueve" name="cuotaNueve"
                [(ngModel)]="clubCuotas.cuotaNueve">
            </div>
            <div class="col-md-6">
              <label for="cuotaNueveDate" class="form-label">Fecha de pago:</label>
              <input type="date" class="form-control" id="cuotaNueveDate" name="cuotaNueveDate"
                [(ngModel)]="clubCuotas.cuotaNueveDate">
            </div>
          </div>
          <div class="row mb-3" *ngIf="clubCuotas.numCuotas > 9">
            <div class="col-md-6">
              <label for="cuotaDiez" class="form-label">Cuota 10:</label>
              <input type="text" class="form-control" id="cuotaDiez" name="cuotaDiez"
                [(ngModel)]="clubCuotas.cuotaDiez">
            </div>
            <div class="col-md-6">
              <label for="cuotaDiezDate" class="form-label">Fecha de pago:</label>
              <input type="date" class="form-control" id="cuotaDiezDate" name="cuotaDiezDate"
                [(ngModel)]="clubCuotas.cuotaDiezDate">
            </div>
          </div>
          <div class="row mb-3" *ngIf="clubCuotas.numCuotas > 10">
            <div class="col-md-6">
              <label for="cuotaOnce" class="form-label">Cuota 11:</label>
              <input type="text" class="form-control" id="cuotaOnce" name="cuotaOnce"
                [(ngModel)]="clubCuotas.cuotaOnce">
            </div>
            <div class="col-md-6">
              <label for="cuotaOnceDate" class="form-label">Fecha de pago:</label>
              <input type="date" class="form-control" id="cuotaOnceDate" name="cuotaOnceDate"
                [(ngModel)]="clubCuotas.cuotaOnceDate">
            </div>
          </div>
          <div class="row mb-3" *ngIf="clubCuotas.numCuotas > 11">
            <div class="col-md-6">
              <label for="cuotaDoce" class="form-label">Cuota 12:</label>
              <input type="text" class="form-control" id="cuotaDoce" name="cuotaDoce"
                [(ngModel)]="clubCuotas.cuotaDoce">
            </div>
            <div class="col-md-6">
              <label for="cuotaDoceDate" class="form-label">Fecha de pago:</label>
              <input type="date" class="form-control" id="cuotaDoceDate" name="cuotaDoceDate"
                [(ngModel)]="clubCuotas.cuotaDoceDate">
            </div>
          </div>
          <div class="modal-footer">
            <!-- Botón para guardar el nuevo equipo -->
            <button type="submit" class="btn btn-success float-end">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal para invitar un jugador por mail -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': showModalInvitar}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Invitar a {{ nombreJugador }}</h5>
        <!-- Botón de cerrar con un icono -->
        <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModalInvitar()"></button>
      </div>
      <div class="modal-body">
        <p *ngIf="isMenor">Puesto que el jugador es menor de 14 años, has de invitar a un padre o tutor, introduce su
          correo
          electrónico de a quíen vas a invitar. Por favor verifica que la cuenta de
          correo sea correcta.</p>
        <p *ngIf="!isMenor">Introduce el correo electrónico del jugador que quieres invitar. Por favor verifica que la
          cuenta de
          correo sea correcta.</p>
        <form [formGroup]="userForm" class="form-login" #thisForm="ngForm" (ngSubmit)="enviarMailJugador()">
          <div class="mb-3" style="text-align: center;">
            <div class="mb-3">
              <label for="mail" class="form-label">Correo electrónico</label>
              <input type="email" class="form-control input-login" id="mail" formControlName="mail">
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success float-end">Invitar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal para editar la cuota de un jugdor -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': showModalJugador}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="standard-modalLabel">Couta del jugador</h5>
        <!-- Botón de cerrar con un icono -->
        <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModalJugador()"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="createUpdateCuotaJugador()">
          <div class="mb-3">
            <label for="cuota" class="form-label">Precio de la cuota del club:</label>
            <input type="text" class="form-control" id="cuota" name="cuota" [(ngModel)]="jugador.cuota">
          </div>
          <div class="mb-3">
            <label for="cuotaSinRopa" class="form-label">Precio de la cuota de la ropa:</label>
            <input type="text" class="form-control" id="cuotaSinRopa" name="cuotaSinRopa"
              [(ngModel)]="jugador.cuotaSinRopa">
          </div>
          <div class="mb-3 d-flex">
            <div *ngIf="showAlert" class="col-6 alert alert-success mt-3" role="alert">
              Guardado correctamente
            </div>
          </div>
          <div class="modal-footer">
            <!-- Botón para guardar el nuevo equipo -->
            <button type="submit" class="btn btn-success float-end">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal para pagar la cuota de un jugdor -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': showModalAgregarPago}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="standard-modalLabel">Pago del jugador</h5>
        <!-- Botón de cerrar con un icono -->
        <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModalAgregarPago()"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="createUpdateHistoryCuotaJugador()">
          <div class="row mb-3">
            <div class="col-6">
              <label for="totalCuota" class="form-label">Total cuota:</label>
              <input type="text" class="form-control" id="totalCuota" name="totalCuota"
                [(ngModel)]="historyPlayer.totalCuota" disabled>
            </div>
            <div class="col-6">
              <label for="totalPagado" class="form-label">Total pagado:</label>
              <input type="text" class="form-control" id="totalPagado" name="totalPagado"
                [(ngModel)]="historyPlayer.totalPagado" disabled>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-6">
              <label for="pagoConRopa" class="form-label">Pago con ropa:</label>
              <select class="form-control" id="pagoConRopa" name="pagoConRopa" [(ngModel)]="historyPlayer.pagoConRopa">
                <option value="0">No</option>
                <option value="1">Sí</option>
              </select>
            </div>
            <div class="col-6">
              <label for="estado" class="form-label">Estado:</label>
              <select class="form-control" id="estado" name="estado" [(ngModel)]="historyPlayer.estado">
                <option value="No ha pagado nada">No ha pagado nada</option>
                <option value="Al corriente">Al corriente</option>
                <option value="Pago completado">Pago completado</option>
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-6">
              <label for="pagoUno" class="form-label">Primer pago:</label>
              <input type="text" class="form-control" id="pagoUno" name="pagoUno" [(ngModel)]="historyPlayer.pagoUno">
            </div>
            <div class="col-6">
              <label for="datePagoUno" class="form-label">Fecha pago:</label>
              <input type="text" class="form-control" id="datePagoUno" name="datePagoUno"
                [(ngModel)]="historyPlayer.datePagoUno">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <label for="fraccionado" class="form-label">Permitir pago fraccionado:</label>
              <select class="form-control" id="fraccionado" name="fraccionado" [(ngModel)]="historyPlayer.fraccionado"
                (click)="selecFraccionadoPlayer()">
                <option value="0">No</option>
                <option value="1">Sí</option>
              </select>
            </div>
          </div>
          <div class="row mb-3" *ngIf="isFraccionadoPlayer">
            <div class="col-6">
              <label for="pagoDos" class="form-label">Segundo pago:</label>
              <input type="text" class="form-control" id="pagoDos" name="pagoDos" [(ngModel)]="historyPlayer.pagoDos">
            </div>
            <div class="col-6">
              <label for="datePagoDos" class="form-label">Fecha pago:</label>
              <input type="text" class="form-control" id="datePagoDos" name="datePagoDos"
                [(ngModel)]="historyPlayer.datePagoDos">
            </div>
          </div>
          <div class="row mb-3" *ngIf="isFraccionadoPlayer">
            <div class="col-6">
              <label for="pagoTres" class="form-label">Tercer pago:</label>
              <input type="text" class="form-control" id="pagoTres" name="pagoTres"
                [(ngModel)]="historyPlayer.pagoTres">
            </div>
            <div class="col-6">
              <label for="datePagoTres" class="form-label">Fecha pago:</label>
              <input type="text" class="form-control" id="datePagoTres" name="datePagoTres"
                [(ngModel)]="historyPlayer.datePagoTres">
            </div>
          </div>
          <div class="mb-3 d-flex">
            <div *ngIf="showAlertHistory" class="col-6 alert alert-success mt-3" role="alert">
              Guardado correctamente
            </div>
          </div>
          <div class="modal-footer">
            <!-- Botón para guardar el nuevo equipo -->
            <button type="submit" class="btn btn-success float-end">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal para editar stripe -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': showModalStripe}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="stripeModalLabel">Configurar Stripe</h5>
          <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModalStripe()"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="onSubmit()" #stripeForm="ngForm">
            <div class="mb-3">
              <label for="email" class="form-label">Correo Electrónico</label>
              <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!stripeForm.form.valid">Crear Cuenta en
              Stripe</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>