<div *ngIf="datosCargados">
  <div class="submenu">
    <div class="row" *ngIf="this.usuarioActual!.profileType.profileId === 1">
      <div class="col text-center">
        <a class="no-underline" href="javascript:void(0);" (click)="irAPantalla(1)">
          <i class="bi bi-house"></i>
          <span class="d-none d-md-inline">Inicio</span>
        </a>
      </div>
      <div class="col text-center">
        <a class="no-underline" href="javascript:void(0);" (click)="openModalStripe()">
          <i class="bi bi-stripe"></i>
          <span class="d-none d-md-inline">Stripe</span>
        </a>
      </div>
      <div class="col text-center">
        <a class="no-underline" href="javascript:void(0);" (click)="abrirModal()">
          <i class="bi bi-gear"></i>
          <span class="d-none d-md-inline">Ajustes</span>
        </a>
      </div>
    </div>
  </div>

  <div class="container mt-3">
    <!-- Contenido para el dataTable -->
    <div class="row" *ngIf="recalcular">
      <div class="col">
        <label for="cuotaClub" class="form-label">Es necesario recalcular los totales, vuelve a entrar para
          verlos.</label>
      </div>
    </div>
    <div class="row" *ngIf="!recalcular">
      <div class="col-3">
        <label for="cuotaClub" class="form-label" *ngIf="!hayRopa">Total de la Cuota</label>
        <label for="cuotaClub" class="form-label" *ngIf="hayRopa">Total de la Cuota + Ropa</label>
        <input type="text" class="form-control" id="cuotaClub" name="cuotaClub" [(ngModel)]="totales.cuotaClub"
          disabled>
      </div>
      <div class="col-3" *ngIf="hayRopa">
        <label for="cuotaRopa" class="form-label">Total de la ropa</label>
        <input type="text" class="form-control" id="cuotaRopa" name="cuotaRopa" [(ngModel)]="totales.cuotaRopa"
          disabled>
      </div>
      <div class="col-3">
        <label for="pagado" class="form-label">Total pagado de todos los jugadores</label>
        <input type="text" class="form-control" id="pagado" name="pagado" [(ngModel)]="totales.pagado" disabled>
      </div>
      <div class="col-3">
        <label for="restante" class="form-label">Restante y pendiente por pagar</label>
        <input type="text" class="form-control" id="restante" name="restante" [(ngModel)]="totales.restante" disabled>
      </div>
    </div>
    <div style="margin-top: 2em;">
      <h2>Tabla Cuota Jugadores</h2>
      <!-- Botón para exportar a Excel-->
      <button class="btn btn-success" style="margin-bottom: 2em;" (click)="exportTableToExcel()">
        <i class="bi bi-file-earmark-spreadsheet-fill"></i> Descargar Excel
      </button>
      <div class="row justify-content-between div-headdatatable">
        <div class="col-md-auto mr-auto" id="dt-length">
          <!-- Contenido para el dt-length -->
        </div>
        <div class="col-md-auto ml-auto" id="dt-search">
        </div>
      </div>
      <div style="overflow-x: auto;">
        <table id="dataTable" class="table table-bordered table-striped text-center">
          <thead class="table-custom">
            <tr>
              <th>ID</th>
              <th>IMAGEN</th>
              <th>NOMBRE</th>
              <th>APELLIDOS</th>
              <th>EQUIPO</th>
              <th>ESTADO_PAGO</th>
              <th>CUOTA_+_ROPA</th>
              <th>CUOTA_ROPA</th>
              <th>PAGADO</th>
              <th>RESTANTE</th>
              <th>VERIFICADO</th>
              <th>ACCIONES</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let player of listHCP; let i = index">
              <td>{{ player.playerId }}</td>
              <td *ngIf="player.picturePlayer">
                <div class="container">
                  <img src="https://sphairatech.com/images/user/{{ player.picturePlayer }}" alt="user-player" width="50"
                    height="50" class="rounded-circle me-2">
                </div>
              </td>
              <td *ngIf="!player.picturePlayer">
                <div class="container">
                  <span class="bi bi-person" style="font-size: 3rem;"></span>
                </div>
              </td>
              <td>{{ player.nombre }}</td>
              <td>{{ player.apellido }}</td>
              <td>{{ player.teamName }}</td>
              <td>
                <ng-container *ngIf="player.estado === 0">
                  <i class="bi bi-x-circle text-danger" title="Ningún pago"></i>
                </ng-container>
                <ng-container *ngIf="player.estado === 1">
                  <i class="bi bi-exclamation-triangle text-warning" title="Con retraso"></i>
                </ng-container>
                <ng-container *ngIf="player.estado === 2">
                  <i class="bi bi-check-circle text-success" title="Al corriente"></i>
                </ng-container>
                <ng-container *ngIf="player.estado === 3">
                  <i class="bi bi-check-circle text-success" title="Completado"></i>
                </ng-container>
              </td>
              <td>{{ player.cuotaClub }}</td>
              <td>{{ player.cuotaRopa }}</td>
              <td>{{ player.pagado }}</td>
              <td>{{ player.restante }}</td>
              <td>
                <ng-container *ngIf="player.verify === 0">
                  <i class="bi bi-x-circle text-danger" style="cursor: pointer;" (click)="invitarJugador(player)"></i>
                  <i class="bi bi-envelope text-danger ms-2" style="cursor: pointer;"
                    (click)="invitarJugador(player)"></i>
                </ng-container>
                <ng-container *ngIf="player.verify === 1">
                  <i class="bi bi-check-circle text-success"></i>
                </ng-container>
              </td>
              <td>
                <i class="bi bi-pencil" style="cursor: pointer;" (click)="openModalEditar(player, i)"
                  title="Editar cuota del jugador"></i>
                <i class="bi bi-wallet2 ms-2" style="cursor: pointer;" (click)="openModalPago(player, i)"
                  title="Introducir un pago"></i>
                <i class="bi bi-clock-history ms-2" style="cursor: pointer;" (click)="openModalVerPagosPlayer(player, i)"
                  title="Ver histoial de pagos"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div id="button_datatable">
    </div>
  </div>
</div>

<!-- tabla para imprimir en excel -->
<div style="display: none;">
  <table id="tablaExcel" class="table table-bordered table-striped text-center" #table1>
    <thead class="table-custom">
      <tr>
        <th>NOMBRE</th>
        <th>APELLIDOS</th>
        <th>EQUIPO</th>
        <th>ESTADO_PAGO</th>
        <th>CUOTA_+_ROPA</th>
        <th>CUOTA_ROPA</th>
        <th>PAGADO</th>
        <th>RESTANTE</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of listHCP; let i = index">
        <td>{{ player.nombre }}</td>
        <td>{{ player.apellido }}</td>
        <td>{{ player.teamName }}</td>
        <td>
          <ng-container *ngIf="player.estado === 0">
            Ningún pago
          </ng-container>
          <ng-container *ngIf="player.estado === 1">
            Con retraso
          </ng-container>
          <ng-container *ngIf="player.estado === 2">
            Al corriente
          </ng-container>
          <ng-container *ngIf="player.estado === 3">
            Completado
          </ng-container>
        </td>
        <td>{{ player.cuotaClub }}</td>
        <td>{{ player.cuotaRopa }}</td>
        <td>{{ player.pagado }}</td>
        <td>{{ player.restante }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal para la creación de equipo con información adicional -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': showModal}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="standard-modalLabel">Cuota del club</h5>
        <!-- Botón de cerrar con un icono -->
        <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModal()"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="createUpdateSettings()">
          <div class="mb-3">
            <label for="temporada" class="form-label">Temporada:</label>
            <select class="form-control" id="temporada" name="temporada" [(ngModel)]="infoClub.temporada"
              (change)="abrirModal()">
              <option value="2022">2022/2023</option>
              <option value="2023">2023/2024</option>
              <option value="2024">2024/2025</option>
              <option value="2025">2025/2026</option>
            </select>
          </div>
          <div class="row mb-3">
            <div class="col-md-12">
              <p style="color: red;">¡Importante! Este cambio afectará a los jugadores de un equipo, de una
                categoria o a todos, selecciona la opción deseada.</p>
              <p style="color: red;">Si un equipo no dispone de jugadores, no se aplicará la cuota, es necesario mínimo
                un jugador.</p>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-3">
              <span>{{ comboTitle }}</span>
              <div class="form-check form-switch">
                <input class="form-check-input custom-input" type="checkbox" id="combo" [checked]="selectedComboTitle === 0"
                  (change)="toggleComboTitle()">
              </div>
            </div>
            <div class="col-md-9" *ngIf="selectedComboTitle == 0">
              <label for="teamSelected" class="form-label">Selecciona un equipo</label>
              <select class="form-control me-2" id="teamSelected" name="teamSelected" [(ngModel)]="teamSelected"
                (change)="loadCuotaClub()">
                <option value="0">Todos los equipos</option>
                <option *ngFor="let team of listTeamsForCombo" [value]="team.value">{{ team.name }}</option>
              </select>
            </div>
            <div class="col-md-9" *ngIf="selectedComboTitle == 1">
              <label for="categorySelected" class="form-label">Selecciona la categoria</label>
              <select class="form-control" id="categorySelected" name="categorySelected" [(ngModel)]="categorySelected">
                <!-- Opciones ajustadas según tus necesidades -->
                <option value="0">Todas las categorias</option>
                <option value="15">Senior</option>
                <option value="16">Juvenil</option>
                <option value="17">Juvenil/Cadete Femenina</option>
                <option value="18">Cadete</option>
                <option value="19">Cadete/Infantil Femenina</option>
                <option value="20">Infantil</option>
                <option value="21">Infantil/Alevín Femenina</option>
                <option value="22">Alevín</option>
                <option value="23">Benjamín</option>
                <option value="24">Benjamín/Prebenjamín Femenina</option>
                <option value="25">Prebenjamín</option>
                <option value="26">Debutante</option>
              </select>
            </div>
          </div>
          <hr>
          <div class="mb-3">
            <label for="bizum" class="form-label">Bizum:</label>
            <input type="text" class="form-control" id="bizum" name="bizum" [(ngModel)]="infoClub.bizum">
          </div>
          <div class="mb-3">
            <label for="banco" class="form-label">Número de Cuenta del Banco:</label>
            <input type="text" class="form-control" id="banco" name="banco" [(ngModel)]="infoClub.banco">
          </div>
          <div class="mb-3">
            <label for="asunto" class="form-label">Explicación para el asunto:</label>
            <textarea class="form-control" id="asunto" rows="5" name="asunto"
              placeholder="Ejemplo: Al realizar la transferencia o Bizum, ponga nombre + DNI + Equipo (Alevin B)"
              [(ngModel)]="infoClub.asunto"></textarea>
          </div>
          <div class="mb-3">
            <label for="totalCuota" class="form-label">Precio de la cuota del club:</label>
            <input type="text" class="form-control" id="totalCuota" name="totalCuota"
              [(ngModel)]="clubCuotas.totalCuota" disabled>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="cuotaRopa" class="form-label">Precio de la cuota de la ropa:</label>
              <input type="number" class="form-control" id="cuotaRopa" name="cuotaRopa"
                [(ngModel)]="clubCuotas.cuotaRopa">
            </div>
            <div class="col-md-6">
              <label for="cuotaRopaDate" class="form-label">Fecha de pago:</label>
              <input type="date" class="form-control" id="cuotaRopaDate" name="cuotaRopaDate"
                [(ngModel)]="clubCuotas.cuotaRopaDate">
            </div>
          </div>
          <div class="mb-3">
            <label for="numCuotas" class="form-label">Selecciona el número total de pagos o cuotas:</label>
            <select class="form-control" id="numCuotas" name="numCuotas" [(ngModel)]="clubCuotas.numCuotas">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
          </div>
          <div class="row mb-3">
            <div class="col-md-12">
              <h2>Repartición de las cuotas</h2>
            </div>
            <div class="col-md-12">
              <p>Segun el número de cuotas o pagos que se haya seleccionado, se debe ir rellenando cantidad y fecha de
                pago en cada una de las cuotas.
              </p>
              <p style="color: red;">(Solo se permiten números enteros, sin "comas" ni "puntos")</p>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="cuotaUno" class="form-label">Cuota 1:</label>
              <input type="number" class="form-control" id="cuotaUno" name="cuotaUno" [(ngModel)]="clubCuotas.cuotaUno"
                (input)="validateNumber($event, 1)">
            </div>
            <div class="col-md-6">
              <label for="cuotaUnoDate" class="form-label">Fecha de pago:</label>
              <input type="date" class="form-control" id="cuotaUnoDate" name="cuotaUnoDate"
                [(ngModel)]="clubCuotas.cuotaUnoDate">
            </div>
          </div>
          <div class="row mb-3" *ngIf="clubCuotas.numCuotas > 1">
            <div class="col-md-6">
              <label for="cuotaDos" class="form-label">Cuota 2:</label>
              <input type="number" class="form-control" id="cuotaDos" name="cuotaDos" [(ngModel)]="clubCuotas.cuotaDos"
                (input)="validateNumber($event, 2)">
            </div>
            <div class="col-md-6">
              <label for="cuotaDosDate" class="form-label">Fecha de pago:</label>
              <input type="date" class="form-control" id="cuotaDosDate" name="cuotaDosDate"
                [(ngModel)]="clubCuotas.cuotaDosDate">
            </div>
          </div>
          <div class="row mb-3" *ngIf="clubCuotas.numCuotas > 2">
            <div class="col-md-6">
              <label for="cuotaTres" class="form-label">Cuota 3:</label>
              <input type="number" class="form-control" id="cuotaTres" name="cuotaTres"
                [(ngModel)]="clubCuotas.cuotaTres" (input)="validateNumber($event, 3)">
            </div>
            <div class="col-md-6">
              <label for="cuotaTresDate" class="form-label">Fecha de pago:</label>
              <input type="date" class="form-control" id="cuotaTresDate" name="cuotaTresDate"
                [(ngModel)]="clubCuotas.cuotaTresDate">
            </div>
          </div>
          <div class="row mb-3" *ngIf="clubCuotas.numCuotas > 3">
            <div class="col-md-6">
              <label for="cuotaCuatro" class="form-label">Cuota 4:</label>
              <input type="number" class="form-control" id="cuotaCuatro" name="cuotaCuatro"
                [(ngModel)]="clubCuotas.cuotaCuatro" (input)="validateNumber($event, 4)">
            </div>
            <div class="col-md-6">
              <label for="cuotaCuatroDate" class="form-label">Fecha de pago:</label>
              <input type="date" class="form-control" id="cuotaCuatroDate" name="cuotaCuatroDate"
                [(ngModel)]="clubCuotas.cuotaCuatroDate">
            </div>
          </div>
          <div class="row mb-3" *ngIf="clubCuotas.numCuotas > 4">
            <div class="col-md-6">
              <label for="cuotaCinco" class="form-label">Cuota 5:</label>
              <input type="number" class="form-control" id="cuotaCinco" name="cuotaCinco"
                [(ngModel)]="clubCuotas.cuotaCinco" (input)="validateNumber($event, 5)">
            </div>
            <div class="col-md-6">
              <label for="cuotaCincoDate" class="form-label">Fecha de pago:</label>
              <input type="date" class="form-control" id="cuotaCincoDate" name="cuotaCincoDate"
                [(ngModel)]="clubCuotas.cuotaCincoDate">
            </div>
          </div>
          <div class="row mb-3" *ngIf="clubCuotas.numCuotas > 5">
            <div class="col-md-6">
              <label for="cuotaSeis" class="form-label">Cuota 6:</label>
              <input type="number" class="form-control" id="cuotaSeis" name="cuotaSeis"
                [(ngModel)]="clubCuotas.cuotaSeis" (input)="validateNumber($event, 6)">
            </div>
            <div class="col-md-6">
              <label for="cuotaSeisDate" class="form-label">Fecha de pago:</label>
              <input type="date" class="form-control" id="cuotaSeisDate" name="cuotaSeisDate"
                [(ngModel)]="clubCuotas.cuotaSeisDate">
            </div>
          </div>
          <div class="row mb-3" *ngIf="clubCuotas.numCuotas > 6">
            <div class="col-md-6">
              <label for="cuotaSiete" class="form-label">Cuota 7:</label>
              <input type="number" class="form-control" id="cuotaSiete" name="cuotaSiete"
                [(ngModel)]="clubCuotas.cuotaSiete" (input)="validateNumber($event, 7)">
            </div>
            <div class="col-md-6">
              <label for="cuotaSieteDate" class="form-label">Fecha de pago:</label>
              <input type="date" class="form-control" id="cuotaSieteDate" name="cuotaSieteDate"
                [(ngModel)]="clubCuotas.cuotaSieteDate">
            </div>
          </div>
          <div class="row mb-3" *ngIf="clubCuotas.numCuotas > 7">
            <div class="col-md-6">
              <label for="cuotaOcho" class="form-label">Cuota 8:</label>
              <input type="number" class="form-control" id="cuotaOcho" name="cuotaOcho"
                [(ngModel)]="clubCuotas.cuotaOcho" (input)="validateNumber($event, 8)">
            </div>
            <div class="col-md-6">
              <label for="cuotaOchoDate" class="form-label">Fecha de pago:</label>
              <input type="date" class="form-control" id="cuotaOchoDate" name="cuotaOchoDate"
                [(ngModel)]="clubCuotas.cuotaOchoDate">
            </div>
          </div>
          <div class="row mb-3" *ngIf="clubCuotas.numCuotas > 8">
            <div class="col-md-6">
              <label for="cuotaNueve" class="form-label">Cuota 9:</label>
              <input type="number" class="form-control" id="cuotaNueve" name="cuotaNueve"
                [(ngModel)]="clubCuotas.cuotaNueve" (input)="validateNumber($event, 9)">
            </div>
            <div class="col-md-6">
              <label for="cuotaNueveDate" class="form-label">Fecha de pago:</label>
              <input type="date" class="form-control" id="cuotaNueveDate" name="cuotaNueveDate"
                [(ngModel)]="clubCuotas.cuotaNueveDate">
            </div>
          </div>
          <div class="row mb-3" *ngIf="clubCuotas.numCuotas > 9">
            <div class="col-md-6">
              <label for="cuotaDiez" class="form-label">Cuota 10:</label>
              <input type="number" class="form-control" id="cuotaDiez" name="cuotaDiez"
                [(ngModel)]="clubCuotas.cuotaDiez" (input)="validateNumber($event, 10)">
            </div>
            <div class="col-md-6">
              <label for="cuotaDiezDate" class="form-label">Fecha de pago:</label>
              <input type="date" class="form-control" id="cuotaDiezDate" name="cuotaDiezDate"
                [(ngModel)]="clubCuotas.cuotaDiezDate">
            </div>
          </div>
          <div class="row mb-3" *ngIf="clubCuotas.numCuotas > 10">
            <div class="col-md-6">
              <label for="cuotaOnce" class="form-label">Cuota 11:</label>
              <input type="number" class="form-control" id="cuotaOnce" name="cuotaOnce"
                [(ngModel)]="clubCuotas.cuotaOnce" (input)="validateNumber($event, 11)">
            </div>
            <div class="col-md-6">
              <label for="cuotaOnceDate" class="form-label">Fecha de pago:</label>
              <input type="date" class="form-control" id="cuotaOnceDate" name="cuotaOnceDate"
                [(ngModel)]="clubCuotas.cuotaOnceDate">
            </div>
          </div>
          <div class="row mb-3" *ngIf="clubCuotas.numCuotas > 11">
            <div class="col-md-6">
              <label for="cuotaDoce" class="form-label">Cuota 12:</label>
              <input type="number" class="form-control" id="cuotaDoce" name="cuotaDoce"
                [(ngModel)]="clubCuotas.cuotaDoce" (input)="validateNumber($event, 12)">
            </div>
            <div class="col-md-6">
              <label for="cuotaDoceDate" class="form-label">Fecha de pago:</label>
              <input type="date" class="form-control" id="cuotaDoceDate" name="cuotaDoceDate"
                [(ngModel)]="clubCuotas.cuotaDoceDate">
            </div>
          </div>
          <div class="modal-footer">
            <!-- Botón para guardar el nuevo equipo -->
            <button type="submit" class="btn btn-success float-end">Guardar</button>
          </div>
          <div class="mb-3 d-flex">
            <div *ngIf="showAlert" class="col-6 alert alert-success mt-3" role="alert">
              Guardado correctamente
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal para invitar un jugador por mail -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': showModalInvitar}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Invitar a {{ nombreJugador }}</h5>
        <!-- Botón de cerrar con un icono -->
        <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModalInvitar()"></button>
      </div>
      <div class="modal-body">
        <p *ngIf="isMenor">Puesto que el jugador es menor de 14 años, has de invitar a un padre o tutor, introduce su
          correo
          electrónico de a quíen vas a invitar. Por favor verifica que la cuenta de
          correo sea correcta.</p>
        <p *ngIf="!isMenor">Introduce el correo electrónico del jugador que quieres invitar. Por favor verifica que la
          cuenta de
          correo sea correcta.</p>
        <form [formGroup]="userForm" class="form-login" #thisForm="ngForm" (ngSubmit)="enviarMailJugador()">
          <div class="mb-3" style="text-align: center;">
            <div class="mb-3">
              <label for="mail" class="form-label">Correo electrónico</label>
              <input type="email" class="form-control input-login" id="mail" formControlName="mail">
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success float-end">Invitar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal para editar la cuota de un jugdor -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': showModalJugador}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="standard-modalLabel">Cuota del jugador</h5>
        <!-- Botón de cerrar con un icono -->
        <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModalJugador()"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="createUpdateCuotaJugador()">
          <div class="mb-3">
            <label for="totalCuota2" class="form-label">Precio de la cuota del club:</label>
            <input type="text" class="form-control" id="totalCuota2" name="totalCuota2"
              [(ngModel)]="playerCuotas.totalCuota" disabled>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="cuotaRopa2" class="form-label">Precio de la cuota de la ropa:</label>
              <input type="text" class="form-control" id="cuotaRopa2" name="cuotaRopa2"
                [(ngModel)]="playerCuotas.cuotaRopa">
            </div>
            <div class="col-md-6">
              <label for="cuotaRopaDate2" class="form-label">Fecha de pago:</label>
              <input type="date" class="form-control" id="cuotaRopaDate2" name="cuotaRopaDate2"
                [(ngModel)]="playerCuotas.cuotaRopaDate">
            </div>
          </div>
          <div class="mb-3">
            <label for="numCuotas2" class="form-label">Selecciona el número total de pagos o cuotas:</label>
            <select class="form-control" id="numCuotas2" name="numCuotas2" [(ngModel)]="playerCuotas.numCuotas">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
          </div>
          <div class="mb-3">
            <h2>Repartición de las cuotas</h2>
            <p>Segun el número total de pagos o cuotas que se haya seleccionado, ir rellenando cantidad y fecha de pago.
            </p>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="cuotaUno2" class="form-label">Cuota 1:</label>
              <input type="text" class="form-control" id="cuotaUno2" name="cuotaUno2"
                [(ngModel)]="playerCuotas.cuotaUno">
            </div>
            <div class="col-md-6">
              <label for="cuotaUnoDate2" class="form-label">Fecha de pago:</label>
              <input type="date" class="form-control" id="cuotaUnoDate2" name="cuotaUnoDate2"
                [(ngModel)]="playerCuotas.cuotaUnoDate">
            </div>
          </div>
          <div class="row mb-3" *ngIf="playerCuotas.numCuotas > 1">
            <div class="col-md-6">
              <label for="cuotaDos2" class="form-label">Cuota 2:</label>
              <input type="text" class="form-control" id="cuotaDos2" name="cuotaDos2"
                [(ngModel)]="playerCuotas.cuotaDos">
            </div>
            <div class="col-md-6">
              <label for="cuotaDosDate2" class="form-label">Fecha de pago:</label>
              <input type="date" class="form-control" id="cuotaDosDate2" name="cuotaDosDate2"
                [(ngModel)]="playerCuotas.cuotaDosDate">
            </div>
          </div>
          <div class="row mb-3" *ngIf="playerCuotas.numCuotas > 2">
            <div class="col-md-6">
              <label for="cuotaTres2" class="form-label">Cuota 3:</label>
              <input type="text" class="form-control" id="cuotaTres2" name="cuotaTres2"
                [(ngModel)]="playerCuotas.cuotaTres">
            </div>
            <div class="col-md-6">
              <label for="cuotaTresDate2" class="form-label">Fecha de pago:</label>
              <input type="date" class="form-control" id="cuotaTresDate2" name="cuotaTresDate2"
                [(ngModel)]="playerCuotas.cuotaTresDate">
            </div>
          </div>
          <div class="row mb-3" *ngIf="playerCuotas.numCuotas > 3">
            <div class="col-md-6">
              <label for="cuotaCuatro2" class="form-label">Cuota 4:</label>
              <input type="text" class="form-control" id="cuotaCuatro2" name="cuotaCuatro2"
                [(ngModel)]="playerCuotas.cuotaCuatro">
            </div>
            <div class="col-md-6">
              <label for="cuotaCuatroDate2" class="form-label">Fecha de pago:</label>
              <input type="date" class="form-control" id="cuotaCuatroDate2" name="cuotaCuatroDate2"
                [(ngModel)]="playerCuotas.cuotaCuatroDate">
            </div>
          </div>
          <div class="row mb-3" *ngIf="playerCuotas.numCuotas > 4">
            <div class="col-md-6">
              <label for="cuotaCinco2" class="form-label">Cuota 5:</label>
              <input type="text" class="form-control" id="cuotaCinco2" name="cuotaCinco2"
                [(ngModel)]="playerCuotas.cuotaCinco">
            </div>
            <div class="col-md-6">
              <label for="cuotaCincoDate2" class="form-label">Fecha de pago:</label>
              <input type="date" class="form-control" id="cuotaCincoDate2" name="cuotaCincoDate2"
                [(ngModel)]="playerCuotas.cuotaCincoDate">
            </div>
          </div>
          <div class="row mb-3" *ngIf="playerCuotas.numCuotas > 5">
            <div class="col-md-6">
              <label for="cuotaSeis2" class="form-label">Cuota 6:</label>
              <input type="text" class="form-control" id="cuotaSeis2" name="cuotaSeis2"
                [(ngModel)]="playerCuotas.cuotaSeis">
            </div>
            <div class="col-md-6">
              <label for="cuotaSeisDate2" class="form-label">Fecha de pago:</label>
              <input type="date" class="form-control" id="cuotaSeisDate2" name="cuotaSeisDate2"
                [(ngModel)]="playerCuotas.cuotaSeisDate">
            </div>
          </div>
          <div class="row mb-3" *ngIf="playerCuotas.numCuotas > 6">
            <div class="col-md-6">
              <label for="cuotaSiete2" class="form-label">Cuota 7:</label>
              <input type="text" class="form-control" id="cuotaSiete2" name="cuotaSiete2"
                [(ngModel)]="playerCuotas.cuotaSiete">
            </div>
            <div class="col-md-6">
              <label for="cuotaSieteDate2" class="form-label">Fecha de pago:</label>
              <input type="date" class="form-control" id="cuotaSieteDate2" name="cuotaSieteDate2"
                [(ngModel)]="playerCuotas.cuotaSieteDate">
            </div>
          </div>
          <div class="row mb-3" *ngIf="playerCuotas.numCuotas > 7">
            <div class="col-md-6">
              <label for="cuotaOcho2" class="form-label">Cuota 8:</label>
              <input type="text" class="form-control" id="cuotaOcho2" name="cuotaOcho2"
                [(ngModel)]="playerCuotas.cuotaOcho">
            </div>
            <div class="col-md-6">
              <label for="cuotaOchoDate2" class="form-label">Fecha de pago:</label>
              <input type="date" class="form-control" id="cuotaOchoDate2" name="cuotaOchoDate2"
                [(ngModel)]="playerCuotas.cuotaOchoDate">
            </div>
          </div>
          <div class="row mb-3" *ngIf="playerCuotas.numCuotas > 8">
            <div class="col-md-6">
              <label for="cuotaNueve2" class="form-label">Cuota 9:</label>
              <input type="text" class="form-control" id="cuotaNueve2" name="cuotaNueve2"
                [(ngModel)]="playerCuotas.cuotaNueve">
            </div>
            <div class="col-md-6">
              <label for="cuotaNueveDate2" class="form-label">Fecha de pago:</label>
              <input type="date" class="form-control" id="cuotaNueveDate2" name="cuotaNueveDate2"
                [(ngModel)]="playerCuotas.cuotaNueveDate">
            </div>
          </div>
          <div class="row mb-3" *ngIf="playerCuotas.numCuotas > 9">
            <div class="col-md-6">
              <label for="cuotaDiez2" class="form-label">Cuota 10:</label>
              <input type="text" class="form-control" id="cuotaDiez2" name="cuotaDiez2"
                [(ngModel)]="playerCuotas.cuotaDiez">
            </div>
            <div class="col-md-6">
              <label for="cuotaDiezDate2" class="form-label">Fecha de pago:</label>
              <input type="date" class="form-control" id="cuotaDiezDate2" name="cuotaDiezDate2"
                [(ngModel)]="playerCuotas.cuotaDiezDate">
            </div>
          </div>
          <div class="row mb-3" *ngIf="playerCuotas.numCuotas > 10">
            <div class="col-md-6">
              <label for="cuotaOnce2" class="form-label">Cuota 11:</label>
              <input type="text" class="form-control" id="cuotaOnce2" name="cuotaOnce2"
                [(ngModel)]="playerCuotas.cuotaOnce">
            </div>
            <div class="col-md-6">
              <label for="cuotaOnceDate2" class="form-label">Fecha de pago:</label>
              <input type="date" class="form-control" id="cuotaOnceDate2" name="cuotaOnceDate2"
                [(ngModel)]="playerCuotas.cuotaOnceDate">
            </div>
          </div>
          <div class="row mb-3" *ngIf="playerCuotas.numCuotas > 11">
            <div class="col-md-6">
              <label for="cuotaDoce2" class="form-label">Cuota 12:</label>
              <input type="text" class="form-control" id="cuotaDoce2" name="cuotaDoce2"
                [(ngModel)]="playerCuotas.cuotaDoce">
            </div>
            <div class="col-md-6">
              <label for="cuotaDoceDate2" class="form-label">Fecha de pago:</label>
              <input type="date" class="form-control" id="cuotaDoceDate2" name="cuotaDoceDate2"
                [(ngModel)]="playerCuotas.cuotaDoceDate">
            </div>
          </div>
          <div class="modal-footer">
            <!-- Botón para guardar el nuevo equipo -->
            <button type="submit" class="btn btn-success float-end">Guardar</button>
          </div>
          <div class="mb-3 d-flex">
            <div *ngIf="showAlert" class="col-6 alert alert-success mt-3" role="alert">
              Guardado correctamente
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal para pagar la cuota de un jugdor -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': showModalAgregarPago}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="standard-modalLabel">Agregar pago del jugador</h5>
        <!-- Botón de cerrar con un icono -->
        <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModalAgregarPago()"></button>
      </div>
      <div class="modal-body">
        <p>Vas a agregar un pago al jugador <b>{{ textoInfoTitlePagoPlayer }}</b></p>
        <form (ngSubmit)="createUpdateHistoryCuotaJugador()">
          <div class="row mb-3">
            <div class="col">
              <p style="color: red;">(En la cantidad, solo se permiten números enteros, sin "comas" ni "puntos")</p>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-6">
              <label for="cantidad" class="form-label">Cantidad:</label>
              <input type="number" class="form-control" id="cantidad" name="cantidad"
                [(ngModel)]="agregarPagoPlayer.cantidad" (input)="validateNumber($event, 20)">
            </div>
            <div class="col-6">
              <label for="fecha" class="form-label">Fecha:</label>
              <input type="date" class="form-control" id="fecha" name="fecha" [(ngModel)]="agregarPagoPlayer.fecha">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-6">
              <label for="metodo" class="form-label">Método de pago:</label>
              <select class="form-control" id="metodo" name="metodo" [(ngModel)]="agregarPagoPlayer.metodo">
                <option value="Tarjeta">Tarjeta</option>
                <option value="Efectivo">Efectivo</option>
                <option value="Transferencia">Transferencia</option>
                <option value="Bizum">Bizum</option>
                <option value="Otro">Otro</option>
              </select>
            </div>
            <div class="col-6">
              <label for="temporada" class="form-label">Temporada:</label>
              <select class="form-control" id="temporada" name="temporada" [(ngModel)]="agregarPagoPlayer.temporada">
                <option value="2022">2022/2023</option>
                <option value="2023">2023/2024</option>
                <option value="2024">2024/2025</option>
                <option value="2025">2025/2026</option>
              </select>
            </div>
            <div class="col-12">
              <label for="comentario" class="form-label">comentario:</label>
              <textarea class="form-control" id="comentario" name="comentario"
                [(ngModel)]="agregarPagoPlayer.comentario" rows="5"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <!-- Botón para guardar el nuevo equipo -->
            <button type="submit" class="btn btn-success float-end">Guardar</button>
          </div>
          <div class="mb-3 d-flex">
            <div *ngIf="showAlert" class="col-6 alert alert-success mt-3" role="alert">
              Guardado correctamente
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal para editar stripe -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': showModalStripe}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="stripeModalLabel">Configurar Stripe</h5>
          <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModalStripe()"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3 text-center" *ngIf="infoClub.urlStripe != null">
            <button (click)="goStripeURL()" class="btn btn-primary">Acceder a Stripe</button>
          </div>
          <form (ngSubmit)="onSubmit()" #stripeForm="ngForm" *ngIf="infoClub.urlStripe === null">
            <div class="mb-3" style="height: 20em; overflow-y: scroll; padding: 1em;">
              <p><strong>¿Qué es Stripe?</strong></p>
              <p>Stripe es una plataforma de pagos en línea que permite a empresas y organizaciones recibir pagos de
                manera segura y eficiente. Con Stripe, puedes gestionar todas tus transacciones de forma sencilla,
                asegurando que los pagos se procesen rápidamente y con total seguridad. Además, Stripe ofrece
                herramientas
                para automatizar y simplificar la contabilidad y la gestión financiera de tu club. Para facilitar esta
                gestión, la hemos integrado directamente en SphairaTech.</p>

              <p><strong>¿Cómo puedo activar Stripe en Sphaira para automatizar el pago de las cuotas de los padres y no
                  tener que preocuparme?</strong></p>

              <p><strong>1. Registro en Stripe:</strong></p>
              <p>Primero, date de alta en Stripe usando el botón proporcionado.</p>

              <p><strong>2. Introduce las cuotas:</strong></p>
              <p>Introduce la cantidad que los padres deberán pagar para inscribir a sus hijos en tu club, pudiendo
                dividirlo en hasta 12 cuotas. Puedes incluir el coste de la ropa en estas cuotas o establecer una cuota
                separada para la ropa.</p>

              <p><strong>3. Recibir Pagos:</strong></p>
              <p>Los padres podrán acceder a través de una invitación del entrenador o del club. Una vez registrados,
                podrán realizar los pagos para cubrir las cuotas anuales o la cuota de la ropa en las fechas fijadas por
                el club. Recibirás estos pagos automáticamente en tu cuenta de Stripe.</p>

              <p><strong>4. Actualización Automática:</strong></p>
              <p>La tabla de pagos se actualizará automáticamente. Solo tendrás que revisarla, sin necesidad de hacer
                cambios manuales.</p>

              <p><strong>5. Comisión:</strong></p>
              <p>Hay una comisión del 1,8% en cada pago. Aun así, recibirás el importe total que establezcas como cuota,
                ya que la comisión no se te repercutirá.</p>

              <p><strong>6. Importancia del Registro:</strong></p>
              <p>Si decides no darte de alta en Stripe, no podrás recibir pagos por parte de los padres a través de
                Sphaira y tendrás que llevar un registro manual.</p>
            </div>
            <div class="mb-3 d-flex align-items-center" style="margin-top: 2em;">
              <input type="checkbox" id="stripeAgreement" name="stripeAgreement" [(ngModel)]="aceptStripe" class="me-2">
              <label for="stripeAgreement" class="mb-0">He leído y estoy de acuerdo con el funcionamiento de Stripe a
                través de SphairaTech.</label>
            </div>
            <div class="mb-3 d-flex">
              <div class="col-12">
                <label for="email" class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="tuemail@mail.com"
                  [(ngModel)]="email" required>
              </div>
            </div>
            <div class="mb-3 d-flex" *ngIf="aceptStripe">
              <div class="col-12">
                <button style="
                width: -webkit-fill-available;" type=" submit" class="btn btn-primary">Crear Cuenta en
                  Stripe</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal para ver el historial de pagos de los jugadores -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': showModalVerHistorialPagosPlayer}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="stripeModalLabel">Historial de pagos de los jugadores</h5>
          <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModalVerPagosPlayer()"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <table class="table">
              <thead>
                <tr>
                  <th>Cantidad</th>
                  <th>Fecha</th>
                  <th>Método</th>
                  <th>Comentario</th>
                  <th>Devolver</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pago of historyPagosPlayer">
                  <td>{{ pago.cantidad }}</td>
                  <td>{{ pago.fecha }}</td>
                  <td>{{ pago.metodo }}</td>
                  <td>{{ pago.comentario }}</td>
                  <td>
                    <button *ngIf="!pago.cantidad.includes('-')" class="btn btn-warning" title="Devolver pago"
                        (click)="confirmReturnPay(pago)">
                        <span class="bi bi-arrow-counterclockwise btn-danger"></span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
          <div class="modal-footer">
            <!-- Botón para guardar el nuevo equipo -->
            <button type="submit" class="btn btn-success float-end"
              (click)="cerrarModalVerPagosPlayer()">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>