<div class="submenu">
    <div class="row">
        <div class="col">
            <a class="no-underline" href="javascript:void(0);" (click)="irAPantalla(1)">
                <i class="bi bi-arrow-left-square-fill"></i>
                <span class="d-none d-md-inline">Volver</span>
            </a>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 5em;">
    <div class="row">
        <div class="col-12 col-md-3 mt-3">
            <div id="club" class="card selection-card" (click)="irAPantalla(2)">
                <img src="/assets/iconos/tactica.svg" class="card-img-top mx-auto d-block p-3" alt="Club Icon">
                <div class="card-body text-center">
                    <h5 class="card-title">Dibujar tareas</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 mt-3">
            <div id="coach" class="card selection-card" (click)="irAPantalla(2)">
                <img src="/assets/iconos/historial-de-pedidos.svg" class="card-img-top mx-auto d-block p-3" alt="Coach Icon">
                <div class="card-body text-center">
                    <h5 class="card-title">Historial usadas</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 mt-3">
            <div id="player" class="card selection-card" (click)="irAPantalla(2)">
                <img src="/assets/iconos/estrella.svg" class="card-img-top mx-auto d-block p-3"
                    alt="Player Icon">
                <div class="card-body text-center">
                    <h5 class="card-title">Favoritas</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 mt-3">
            <div id="scouting" class="card selection-card" (click)="irAPantalla(2)">
                <img src="/assets/iconos/cono-de-trafico.svg" class="card-img-top mx-auto d-block p-3" alt="Scouting Icon">
                <div class="card-body text-center">
                    <h5 class="card-title">Mis tareas</h5>
                </div>
            </div>
        </div>
    </div>
</div>