<!-- inicio.component.html -->
<div class="homepage-container">
  <!-- Encabezado con botones utilizando Bootstrap -->
  <div class="d-flex justify-content-between">
    <button class="btn btn-primary" (click)="verPerfil()">Ver Perfil</button>
    <button class="btn btn-danger" (click)="cerrarSesion()">Cerrar Sesión</button>
  </div>

  <!-- Contenido principal con la tabla de equipos utilizando Bootstrap -->
  <div class="mt-4">
    <h2 class="text-white">Listado de Equipos de Fútbol</h2>
    
    <table class="table table-bordered table-light">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Categoría</th>
          <th scope="col">Dias</th>
        </tr>
      </thead>
      <tbody>
        <!-- Itera sobre el listado de equipos y muestra la información -->
        <tr *ngFor="let team of listTeam">
          <td>{{ team.teamId }}</td>
          <td>{{ team.name }}</td>
          <td>{{ team.category }}</td>
          <td>{{ team.trainingDays }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
