<header class="p-3 mb-3 border-bottom bg-dark">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-between">
      <div class="col-auto">
        <img src="assets/images/logo_white.svg" alt="Logo" (click)="goInicio()" style="cursor: pointer; width: 10em;">
      </div>
      <div class="col-auto">
        <div class="dropdown text-end">
          <a href="#" class="d-block link-white text-decoration-none dropdown-toggle" id="dropdownUser1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small bg-dark text-white" aria-labelledby="dropdownUser1" style="">
            <!--            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
-->
            <li><a class="dropdown-item" (click)="profile()">Perfil</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#" (click)="logOut()">Cerrar Sesión</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>