<div class="submenu">
    <div class="row">
        <div class="col">
            <a class="no-underline" href="javascript:void(0);" (click)="goBack()">
                <i class="bi bi-arrow-left-square-fill"></i>
                <span class="d-none d-md-inline">Volver</span>
            </a>
        </div>
    </div>
</div>
<div *ngIf="isLoading" class="d-flex align-items-center justify-content-center p-3">
    <div class="spinner-border text-primary me-2" role="status" aria-hidden="true"></div>
    <strong>Cargando listado...</strong>
</div>
<div *ngIf="!isLoading">
    <div class="container mt-3">
        <!-- Filtro -->
        <div class="row mb-3 align-items-center">
            <!-- Input filtro -->
            <div class="col-md-4 col-sm-12 mb-2 mb-md-0">
                <input type="text" class="form-control" placeholder="Filtrar por nombre del club" [(ngModel)]="filtro"
                    (input)="filtrarClubes()">
            </div>
        </div>

        <!-- Tabla -->
        <div class="row mb-3 align-items-center">
            <div style="overflow-x: auto;">
                <table id="dataTable" class="table table-bordered table-striped text-center">
                    <thead class="table-custom">
                        <tr>
                            <th>Nº</th>
                            <th (click)="ordenarPor('nombre')" style="cursor: pointer">Nombre <i
                                    class="bi bi-arrow-down-up"></i></th>
                            <th (click)="ordenarPor('equipos')" style="cursor: pointer">Equipos <i
                                    class="bi bi-arrow-down-up"></i></th>
                            <th (click)="ordenarPor('entrenadores')" style="cursor: pointer">Entrenadores <i
                                    class="bi bi-arrow-down-up"></i></th>
                            <th (click)="ordenarPor('jugadores')" style="cursor: pointer">Jugadores <i
                                    class="bi bi-arrow-down-up"></i></th>
                            <th (click)="ordenarPor('padres')" style="cursor: pointer">Padres <i
                                    class="bi bi-arrow-down-up"></i></th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let club of listaClubesFiltrados; let i = index">
                            <td>
                                {{ i+1 }}
                            </td>
                            <td>{{ club.nombre }}</td>
                            <td>{{ club.equipos }}</td>
                            <td>{{ club.entrenadores }}</td>
                            <td>{{ club.jugadores }}</td>
                            <td>{{ club.padres }}</td>
                            <td> -- </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>