<div class="submenu">
    <div class="row">
        <div class="col">
            <a class="no-underline" href="javascript:void(0);" (click)="goBack()">
                <i class="bi bi-arrow-left-square-fill"></i>
                <span class="d-none d-md-inline">Volver</span>
            </a>
        </div>
    </div>
</div>
<div *ngIf="isLoading" class="d-flex align-items-center justify-content-center p-3">
    <div class="spinner-border text-primary me-2" role="status" aria-hidden="true"></div>
    <strong>Cargando listado, puede tardar unos segundos, espere...</strong>
</div>
<div *ngIf="!isLoading">
    <div class="container mt-3">
        <!-- Filtro -->
        <div class="row mb-3 align-items-center">
            <!-- Input filtro -->
            <div class="col-md-4 col-sm-12 mb-2 mb-md-0">
                <input type="text" class="form-control" placeholder="Filtrar por nombre del club" [(ngModel)]="filtro"
                    (input)="filtrarClubes()">
            </div>
        </div>

        <!-- Tabla -->
        <div class="row mb-3 align-items-center">
            <div style="overflow-x: auto;">
                <table id="dataTable" class="table table-bordered table-striped text-center">
                    <thead class="table-custom">
                        <tr>
                            <th>Nº</th>
                            <th (click)="ordenarPor('nombre')" style="cursor: pointer">Nombre <i
                                    class="bi bi-arrow-down-up"></i></th>
                            <th (click)="ordenarPor('equipos')" style="cursor: pointer">Equipos <i
                                    class="bi bi-arrow-down-up"></i></th>
                            <th (click)="ordenarPor('entrenadores')" style="cursor: pointer">Entrenadores <i
                                    class="bi bi-arrow-down-up"></i></th>
                            <th (click)="ordenarPor('jugadores')" style="cursor: pointer">Jugadores <i
                                    class="bi bi-arrow-down-up"></i></th>
                            <th (click)="ordenarPor('padres')" style="cursor: pointer">Padres <i
                                    class="bi bi-arrow-down-up"></i></th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let club of listaClubesFiltrados; let i = index">
                            <td>
                                {{ i+1 }}
                            </td>
                            <td>{{ club.nombre }}</td>
                            <td>{{ club.equipos - 1 }}</td>
                            <td>{{ club.entrenadores }}</td>
                            <td>{{ club.jugadores }}</td>
                            <td>{{ club.padres }}</td>
                            <!-- Acciones -->
                            <td class="text-nowrap">
                                <button class="btn btn-sm btn-outline-primary" title="Equipos"
                                    (click)="verEquiposClub(club.userId)">
                                    <i class="bi bi-eye"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal: Ver/Cambiar nº de equipos -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{ 'd-block': showModalVerEquipos }"
    style="background-color: rgba(0,0,0,0.5);">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title">
                    <i class="bi bi-people-fill me-2"></i> Número de equipos del club
                </h5>
                <button style="background-color: white;" type="button" class="btn-close"
                    (click)="cerrarModalVerEquipos()"></button>
            </div>
            <div class="modal-body bg-light">
                <div class="mb-3">
                    <p>Aquí podrás definir cuántos equipos puede crear cada uno de los clubes pertenecientes a tu
                        asociación o federación</p>
                </div>
                <div class="mb-3">
                    <label class="form-label">
                        <i class="bi bi-123 me-1 text-primary"></i> Equipos actuales
                    </label>
                    <div class="form-control bg-white">
                        {{ equiposClubSelected }}
                    </div>
                </div>
                <form (ngSubmit)="cambioEquiposClub()">
                    <div class="mb-3">
                        <label class="form-label">
                            <i class="bi bi-pencil-square me-1 text-secondary"></i> Cambiar a
                        </label>
                        <input type="number" class="form-control" min="0" [(ngModel)]="equiposClubEdit"
                            name="equiposClubEdit" required />
                    </div>
                    <div class="modal-footer justify-content-end">
                        <button type="submit" class="btn btn-success">
                            <i class="bi bi-check-circle me-1"></i> Cambiar
                        </button>
                        <button type="button" class="btn btn-secondary" (click)="cerrarModalVerEquipos()">
                            <i class="bi bi-x-circle me-1"></i> Cancelar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>