<form [formGroup]="loginForm" class="form-login" #thisForm="ngForm" (ngSubmit)="login()">

  <div class="mb-3">
    <label for="mail" class="form-label">Ingrese email</label>
    <input type="email" class="form-control input-login" id="mail" formControlName="mail" [class.is-invalid]="mailControl?.invalid && (mailControl?.dirty || mailControl?.touched || thisForm.submitted)">
    <div *ngIf="mailControl?.hasError('required') && (mailControl?.dirty || mailControl?.touched || thisForm.submitted)" class="invalid-feedback">
      Correo electrónico requerido
    </div>
    <div *ngIf="mailControl?.hasError('email') && (mailControl?.dirty || mailControl?.touched || thisForm.submitted)" class="invalid-feedback">
      Ingresa un correo electrónico válido
    </div>
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Ingrese contraseña</label>
    <div class="input-group">
      <input type="password" class="form-control input-login" id="password" formControlName="password" [type]="hidePassword ? 'password' : 'text'" [class.is-invalid]="passwordControl?.invalid && (passwordControl?.dirty || passwordControl?.touched || thisForm.submitted)">
      <button class="btn btn-outline-secondary" type="button" (click)="hidePassword = !hidePassword">
        <i class="fas" [class.fa-eye]="!hidePassword" [class.fa-eye-slash]="hidePassword"></i>
      </button>
      <div *ngIf="passwordControl?.hasError('required') && (passwordControl?.dirty || passwordControl?.touched || thisForm.submitted)" class="invalid-feedback">
        Contraseña requerida
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary btn-block">Iniciar sesión</button>
</form>
