<div class="erp-page">
  <div class="erp-header">
    <button class="btn-back" (click)="goBack()"><i class="bi bi-arrow-left"></i> Volver</button>
    <h2><i class="bi bi-diagram-3"></i> Plan Contable</h2>
  </div>

  <div *ngIf="loading" class="erp-loading"><i class="bi bi-arrow-repeat spin"></i> Cargando...</div>

  <div *ngIf="!loading" class="accounts-tree">
    <ng-container *ngFor="let node of tree">
      <ng-container *ngTemplateOutlet="treeNode; context: { $implicit: node, depth: 0 }"></ng-container>
    </ng-container>
  </div>
</div>

<ng-template #treeNode let-node let-depth="depth">
  <div class="tree-row" [style.paddingLeft.px]="16 + depth * 24" [class.is-group]="node.isGroup">
    <span class="acct-number">{{ node.accountNumber }}</span>
    <span class="acct-name">{{ node.name }}</span>
    <span class="acct-type badge-rt" [ngClass]="rootTypeClass(node.rootType)">{{ rootTypeLabel(node.rootType) }}</span>
    <span *ngIf="node.isGroup" class="badge-group">Grupo</span>
  </div>
  <ng-container *ngIf="node.children?.length">
    <ng-container *ngFor="let child of node.children">
      <ng-container *ngTemplateOutlet="treeNode; context: { $implicit: child, depth: depth + 1 }"></ng-container>
    </ng-container>
  </ng-container>
</ng-template>
