.colored-column {
  background-color: #004a45;
  justify-content: center;
  width: 100%;
  display: flex;
}

.textoCentrado{
  display: flex;
  width: 100%;
  justify-content: center;
}

.form-register{
  padding: 2rem;
}

.input-register{
  margin-bottom: 4%;
}
