<div class="container-fluid">

  <div class="row justify-content-center">
  
    <div class="col-md-6 colored-column">
      <button class="btn btn-info mb-3" style="border-radius: 50%;" (click)="back()">
        <i class="bi bi-chevron-left"></i>
        <i class="bi bi-house"></i>
      </button>
      
      <div class="card">
        <div class="card-header textoCentrado">
          <h1>Registro</h1>
        </div>

        <div class="card-body">
          <form [formGroup]="registerForm" (ngSubmit)="register()" class="form-register">

            <div class="mb-3 d-flex">
              <select class="form-select input-register" formControlName="rol">
                <option value="1">Club</option>
                <option value="2">Entrenador</option>
              </select>
              <input type="text" class="form-control input-register" placeholder="Nombre del club" id="nameClub"
                formControlName="nameClub">
            </div>

            <div class="mb-3 d-flex">
              <input type="text" class="form-control input-register" placeholder="Ingrese su nombre" id="name"
                formControlName="name">
              <input type="text" class="form-control input-register" placeholder="Ingrese su apellido" id="surname"
                formControlName="surname">
            </div>

            <div class="mb-3 d-flex">
              <input type="date" class="form-control input-register" placeholder="Selecciona fecha de nacimiento" id="date"
                formControlName="birthdate">
              <select class="form-select input-register" formControlName="genre">
                <option value="1">Masculino</option>
                <option value="2">Femenino</option>
                <option value="3">Otro</option>
              </select>
            </div>

            <div class="mb-3 d-flex">
              <input type="email" class="form-control input-register" placeholder="Ingrese email" id="email"
                formControlName="email">
            </div>

            <div class="mb-3 d-flex">
              <input type="password" class="form-control input-register" placeholder="Ingrese contraseña" id="password"
                formControlName="password">
              <input type="password" class="form-control input-register" placeholder="Repite la contraseña" id="password2"
                formControlName="password2">
            </div>

            <button type="submit" class="btn btn-primary btn-block">Registrar usuario</button>
          </form>
        </div>
      </div>
    </div>

  </div>

</div>
