<div>
    <div class="submenu">
        <div class="row">
            <div class="col text-center">
                <a class="no-underline" href="javascript:void(0);" (click)="irAPantalla(1)">
                    <i class="bi bi-house"></i>
                    <span class="d-none d-md-inline">Inicio</span>
                </a>
            </div>
            <div class="col text-center">
                <a class="no-underline" href="javascript:void(0);" (click)="irAPantalla(2)">
                    <i class="bi bi-bank"></i>
                    <span class="d-none d-md-inline">Cuotas</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3" *ngIf="datosCargados">
    <div style="margin-top: 2em;">
        <h2>Tabla Cuota Abonados</h2>
        <!-- Botón para exportar a Excel-->
        <button class="btn btn-success" style="margin-bottom: 2em;" (click)="openModalCreateUpdateAbonado()">
            Crear abonado
        </button>
        <div class="row justify-content-between div-headdatatable">
            <div class="col-md-auto mr-auto" id="dt-length">
                <!-- Contenido para el dt-length -->
            </div>
            <div class="col-md-auto ml-auto" id="dt-search">
            </div>
        </div>
        <div style="overflow-x: auto;">
            <table id="dataTable" class="table table-bordered table-striped text-center">
                <thead class="table-custom">
                    <tr>
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>APELLIDOS</th>
                        <th>EMAIL</th>
                        <th>TELEFONO</th>
                        <th>ESTADO</th>
                        <th>CUOTA</th>
                        <th>PAGADO</th>
                        <th>RESTANTE</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let abonadoTemp of listAT; let i = index">
                        <td>{{ abonadoTemp.abonadosTemporadaId }}</td>
                        <td>{{ abonadoTemp.abonado.nombre }}</td>
                        <td>{{ abonadoTemp.abonado.apellidos }}</td>
                        <td>{{ abonadoTemp.abonado.mail }}</td>
                        <td>{{ abonadoTemp.abonado.telefono }}</td>
                        <td>
                            <ng-container *ngIf="abonadoTemp.estado === 0">
                                <i class="bi bi-x-circle text-danger" title="Ningún pago"></i>
                            </ng-container>
                            <ng-container *ngIf="abonadoTemp.estado === 1">
                                <i class="bi bi-exclamation-triangle text-warning" title="Pagos PDTE"></i>
                            </ng-container>
                            <ng-container *ngIf="abonadoTemp.estado === 2">
                                <i class="bi bi-check-circle text-success" title="Completado"></i>
                            </ng-container>
                        </td>
                        <td>{{ abonadoTemp.cuota }}</td>
                        <td>{{ abonadoTemp.pagado }}</td>
                        <td>{{ abonadoTemp.restante }}</td>
                        <td>
                            <i class="bi bi-pencil" style="cursor: pointer;" title="Editar abonado"
                                (click)="openModalUpdateAbonado(i)"></i>
                            <i class="bi bi-wallet2 ms-2" style="cursor: pointer;" title="Introducir un pago"
                                (click)="openModalPagoAbonado(i)"></i>
                            <i class="bi bi-clock-history ms-2" style="cursor: pointer;"
                            (click)="openModalHistorialPagos(i)" title="Ver histoial de pagos"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="button_datatable">
    </div>
</div>

<!-- Modal para modificar el abonado -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': showModalCreateUpdateAbonado}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="stripeModalLabel">Abonado</h5>
                    <button type="button" class="btn-close" aria-label="Close"
                        (click)="cerrarModalCreateUpdateAbonado()"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row text-center">
                            <!-- Primera columna principal -->
                            <div class="col-12 col-md-12">
                                <div class="row mt-3">
                                    <div class="col-12 col-md-12">
                                        <!-- Contenido de la subcolumna -->
                                        <label><strong>Datos del Abonado:</strong></label>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12 col-md-4">
                                        <!-- Contenido de la subcolumna -->
                                        <div class="form-group">
                                            <input type="text" class="form-control custom-input" id="nombre"
                                                name="nombre" [(ngModel)]="abonadoObj.nombre" placeholder="Nombre"
                                                #primerCampo>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-8">
                                        <!-- Contenido de la subcolumna -->
                                        <div class="form-group">
                                            <input type="text" class="form-control custom-input" id="apellido"
                                                name="apellido" [(ngModel)]="abonadoObj.apellidos"
                                                placeholder="Apellidos">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12 col-md-4">
                                        <!-- Contenido de la subcolumna -->
                                        <div class="form-group">
                                            <input type="date" class="form-control custom-input" id="fechaDeNacimiento"
                                                name="fechaDeNacimiento" [(ngModel)]="abonadoObj.fechaDeNacimiento"
                                                placeholder="Fecha de Nacimiento">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-8">
                                        <!-- Contenido de la subcolumna -->
                                        <div class="form-group">
                                            <input type="text" class="form-control custom-input" id="dni" name="dni"
                                                [(ngModel)]="abonadoObj.dni" placeholder="DNI/NIE">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12 col-md-4">
                                        <!-- Contenido de la subcolumna -->
                                        <div class="form-group">
                                            <input type="text" class="form-control custom-input" id="telefono"
                                                name="telefono" [(ngModel)]="abonadoObj.telefono" placeholder="Teléfono"
                                                maxlength="9">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-8">
                                        <!-- Contenido de la subcolumna -->
                                        <div class="form-group">
                                            <input type="mail" class="form-control custom-input" id="email" name="email"
                                                [(ngModel)]="abonadoObj.mail" placeholder="Email">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12 col-md-4">
                                        <!-- Contenido de la subcolumna -->
                                        <div class="form-group">
                                            <select class="form-select input-register custom-input" id="genero"
                                                name="genero" [(ngModel)]="abonadoObj.genero">
                                                <option value="" disabled selected hidden>Género</option>
                                                <option value="M">Masculino</option>
                                                <option value="F">Femenino</option>
                                                <option value="O">Otro</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row text-center mt-3">
                            <div class="col-12 col-md-12">
                                <div class="row mt-3">
                                    <div class="col-12 col-md-12">
                                        <!-- Contenido de la subcolumna -->
                                        <label><strong>Cuota del abonado</strong></label>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12 col-md-4">
                                        <!-- Contenido de la subcolumna -->
                                        <div class="form-group">
                                            <input type="number" class="form-control custom-input" id="cuota"
                                                name="cuota" [readOnly]="cuotaReadOnly" [(ngModel)]="cuotaAbonado"
                                                placeholder="Cuota">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer mt-3">
                            <!-- Botón para guardar el nuevo equipo -->
                            <button type="button" class="btn btn-success float-end"
                                (click)="createUpdateAbonado()">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal para modificar el abonado y su info de la cuota -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': showModalUpdateAbonado}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="stripeModalLabel">Abonado</h5>
                    <button type="button" class="btn-close" aria-label="Close" (click)="updateAbonado()"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row text-center">
                            <!-- Primera columna principal -->
                            <div class="col-12 col-md-12">
                                <div class="row mt-3">
                                    <div class="col-12 col-md-12">
                                        <!-- Contenido de la subcolumna -->
                                        <label><strong>Editar datos del Abonado:</strong></label>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12 col-md-4">
                                        <!-- Contenido de la subcolumna -->
                                        <div class="form-group">
                                            <input type="text" class="form-control custom-input" id="nombre"
                                                name="nombre" [(ngModel)]="abonadoUpdate.abonado.nombre"
                                                placeholder="Nombre" #primerCampo>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-8">
                                        <!-- Contenido de la subcolumna -->
                                        <div class="form-group">
                                            <input type="text" class="form-control custom-input" id="apellido"
                                                name="apellido" [(ngModel)]="abonadoUpdate.abonado.apellidos"
                                                placeholder="Apellidos">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12 col-md-4">
                                        <!-- Contenido de la subcolumna -->
                                        <div class="form-group">
                                            <input type="date" class="form-control custom-input" id="fechaDeNacimiento"
                                                name="fechaDeNacimiento"
                                                [(ngModel)]="abonadoUpdate.abonado.fechaDeNacimiento"
                                                placeholder="Fecha de Nacimiento">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-8">
                                        <!-- Contenido de la subcolumna -->
                                        <div class="form-group">
                                            <input type="text" class="form-control custom-input" id="dni" name="dni"
                                                [(ngModel)]="abonadoUpdate.abonado.dni" placeholder="DNI/NIE">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12 col-md-4">
                                        <!-- Contenido de la subcolumna -->
                                        <div class="form-group">
                                            <input type="text" class="form-control custom-input" id="telefono"
                                                name="telefono" [(ngModel)]="abonadoUpdate.abonado.telefono"
                                                placeholder="Teléfono" maxlength="9">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-8">
                                        <!-- Contenido de la subcolumna -->
                                        <div class="form-group">
                                            <input type="mail" class="form-control custom-input" id="email" name="email"
                                                [(ngModel)]="abonadoUpdate.abonado.mail" placeholder="Email">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12 col-md-4">
                                        <!-- Contenido de la subcolumna -->
                                        <div class="form-group">
                                            <select class="form-select input-register custom-input" id="genero"
                                                name="genero" [(ngModel)]="abonadoUpdate.abonado.genero">
                                                <option value="" disabled selected hidden>Género</option>
                                                <option value="M">Masculino</option>
                                                <option value="F">Femenino</option>
                                                <option value="O">Otro</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row text-center mt-3">
                            <div class="col-12 col-md-12">
                                <div class="row mt-3">
                                    <div class="col-12 col-md-12">
                                        <!-- Contenido de la subcolumna -->
                                        <label><strong>Cuota del abonado</strong></label>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12 col-md-4">
                                        <!-- Contenido de la subcolumna -->
                                        <div class="form-group">
                                            <input type="number" class="form-control custom-input" id="cuota"
                                                name="cuota" [readOnly]="cuotaReadOnly"
                                                [(ngModel)]="abonadoUpdate.cuota" placeholder="Cuota">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal para pagar la cuota de un abonado -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': showModalAgregarPago}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="standard-modalLabel">Insertar pago abonado</h5>
                <!-- Botón de cerrar con un icono -->
                <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModalAgregarPago()"></button>
            </div>
            <div class="modal-body">
                <p>Vas a agregar un pago al abonado <b>{{ textoInfoNameAbonado }}</b></p>
                <form (ngSubmit)="createPagoAbonado()">
                    <div class="row mb-3">
                        <div class="col">
                            <p style="color: red;">(En la cantidad, solo se permiten números enteros, sin "comas" ni
                                "puntos")</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <label for="cantidad" class="form-label">Cantidad:</label>
                            <input type="number" class="form-control" id="cantidad" name="cantidad"
                                [(ngModel)]="agregarPago.cantidad">
                        </div>
                        <div class="col-6">
                            <label for="metodo" class="form-label">Método de pago:</label>
                            <select class="form-control" id="metodo" name="metodo" [(ngModel)]="agregarPago.metodo">
                                <option value="Tarjeta">Tarjeta</option>
                                <option value="Efectivo">Efectivo</option>
                                <option value="Transferencia">Transferencia</option>
                                <option value="Bizum">Bizum</option>
                                <option value="Otro">Otro</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <label for="fecha" class="form-label">Fecha:</label>
                            <input type="date" class="form-control" id="fecha" name="fecha"
                                [(ngModel)]="agregarPago.fechaPago">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <label for="comentario" class="form-label">comentario:</label>
                            <textarea class="form-control" id="comentario" name="comentario"
                                [(ngModel)]="agregarPago.comentario" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- Botón para guardar el nuevo equipo -->
                        <button type="submit" class="btn btn-success float-end">Guardar</button>
                    </div>
                    <div class="mb-3 d-flex">
                        <div *ngIf="showAlert" class="col-6 alert alert-success mt-3" role="alert">
                            Guardado correctamente
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para ver el historial de pagos de los abonados -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': showModalVerHistorialPagos}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="stripeModalLabel">Historial de pagos de los abonados</h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModalHistorialPagos()"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <table class="table">
                <thead>
                  <tr>
                    <th>Cantidad</th>
                    <th>Fecha</th>
                    <th>Método</th>
                    <th>Comentario</th>
                    <th>Devolver</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let pago of historyPagosAbonado">
                    <td>{{ pago.cantidad }}</td>
                    <td>{{ pago.fechaPago }}</td>
                    <td>{{ pago.metodo }}</td>
                    <td>{{ pago.comentario }}</td>
                    <td>
                      <button *ngIf="!pago.cantidad.includes('-')" class="btn btn-warning" title="Devolver pago"
                        (click)="confirmReturnPay(pago)">
                        <span class="bi bi-arrow-counterclockwise btn-danger"></span>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <!-- Botón para guardar el nuevo equipo -->
              <button type="submit" class="btn btn-success float-end"
                (click)="cerrarModalHistorialPagos()">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>