<div>
    <div class="submenu">
        <div class="row">
            <div class="col">
                <a class="no-underline" href="javascript:void(0);" (click)="goBack()">
                    <i class="bi bi-arrow-left-square-fill"></i>
                    <span class="d-none d-md-inline">{{ 'APP.NAV.BACK' | translate }}</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3" *ngIf="datosCargados">
    <div style="margin-top: 2em;">
        <h2>{{ 'APP.SUBS.TITLE_TABLE' | translate }}</h2>

        <button class="btn btn-success" style="margin-bottom: 2em; margin-right: 2em;"
            (click)="openModalCreateUpdateAbonado()">
            {{ 'APP.SUBS.CREATE' | translate }}
        </button>

        <button class="btn btn-success" style="margin-bottom: 2em;" (click)="exportTableToExcel()">
            <i class="bi bi-file-earmark-spreadsheet-fill"></i>
            {{ 'APP.SUBS.DOWNLOAD_EXCEL' | translate }}
        </button>

        <div class="row justify-content-between div-headdatatable">
            <div class="col-md-auto mr-auto" id="dt-length"></div>
            <div class="col-md-auto ml-auto" id="dt-search"></div>
        </div>

        <div style="overflow-x: auto;">
            <table id="dataTable" class="table table-bordered table-striped text-center">
                <thead class="table-custom">
                    <tr>
                        <th>{{ 'APP.SUBS.TABLE.ID' | translate }}</th>
                        <th>{{ 'APP.SUBS.TABLE.IMAGE' | translate }}</th>
                        <th>{{ 'APP.SUBS.TABLE.NAME' | translate }}</th>
                        <th>{{ 'APP.SUBS.TABLE.SURNAMES' | translate }}</th>
                        <th>{{ 'APP.SUBS.TABLE.EMAIL' | translate }}</th>
                        <th>{{ 'APP.SUBS.TABLE.PHONE' | translate }}</th>
                        <th>{{ 'APP.SUBS.TABLE.STATUS' | translate }}</th>
                        <th>{{ 'APP.SUBS.TABLE.FEE' | translate }}</th>
                        <th>{{ 'APP.SUBS.TABLE.PAID' | translate }}</th>
                        <th>{{ 'APP.SUBS.TABLE.REMAINING' | translate }}</th>
                        <th>{{ 'APP.SUBS.TABLE.ACTIONS' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let abonadoTemp of listAT; let i = index">
                        <td>{{ abonadoTemp.abonadosTemporadaId }}</td>

                        <td *ngIf="abonadoTemp.abonado.imgPerfil">
                            <div class="container">
                                <img [src]="imageBaseUrl + abonadoTemp.abonado.imgPerfil" alt="user-player" width="50"
                                    height="50" class="rounded-circle me-2">
                            </div>
                        </td>
                        <td *ngIf="!abonadoTemp.abonado.imgPerfil">
                            <div class="container">
                                <span class="bi bi-person" style="font-size: 3rem;"></span>
                            </div>
                        </td>

                        <td>{{ abonadoTemp.abonado.nombre }}</td>
                        <td>{{ abonadoTemp.abonado.apellidos }}</td>
                        <td>{{ abonadoTemp.abonado.mail }}</td>
                        <td>{{ abonadoTemp.abonado.telefono }}</td>

                        <td>
                            <ng-container *ngIf="abonadoTemp.estado === 0">
                                <i class="bi bi-x-circle text-danger"
                                    [attr.title]="'APP.SUBS.STATUS.NONE' | translate"></i>
                            </ng-container>
                            <ng-container *ngIf="abonadoTemp.estado === 1">
                                <i class="bi bi-exclamation-triangle text-warning"
                                    [attr.title]="'APP.SUBS.STATUS.PENDING' | translate"></i>
                            </ng-container>
                            <ng-container *ngIf="abonadoTemp.estado === 2">
                                <i class="bi bi-check-circle text-success"
                                    [attr.title]="'APP.SUBS.STATUS.DONE' | translate"></i>
                            </ng-container>
                        </td>

                        <td>{{ abonadoTemp.cuota }}</td>
                        <td>{{ abonadoTemp.pagado }}</td>
                        <td>{{ abonadoTemp.restante }}</td>

                        <td>
                            <i class="bi bi-pencil" style="cursor: pointer;"
                                [attr.title]="'APP.SUBS.ACTIONS.EDIT' | translate"
                                (click)="openModalUpdateAbonado(i)"></i>

                            <i class="bi bi-wallet2 ms-2" style="cursor: pointer;"
                                [attr.title]="'APP.SUBS.ACTIONS.INSERT_PAY' | translate"
                                (click)="openModalPagoAbonado(i)"></i>

                            <i class="bi bi-clock-history ms-2" style="cursor: pointer;"
                                [attr.title]="'APP.SUBS.ACTIONS.VIEW_HISTORY' | translate"
                                (click)="openModalHistorialPagos(i)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="button_datatable"></div>
</div>

<!-- tabla para imprimir en excel -->
<div style="display: none;">
    <table id="tablaExcel" class="table table-bordered table-striped text-center" #table1>
        <thead class="table-custom">
            <tr>
                <th>{{ 'APP.SUBS.TABLE.NAME' | translate }}</th>
                <th>{{ 'APP.SUBS.TABLE.SURNAMES' | translate }}</th>
                <th>{{ 'APP.SUBS.TABLE.EMAIL' | translate }}</th>
                <th>{{ 'APP.SUBS.TABLE.PHONE' | translate }}</th>
                <th>{{ 'APP.SUBS.TABLE.STATUS' | translate }}</th>
                <th>{{ 'APP.SUBS.TABLE.FEE' | translate }}</th>
                <th>{{ 'APP.SUBS.TABLE.PAID' | translate }}</th>
                <th>{{ 'APP.SUBS.TABLE.REMAINING' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let abonadoTemp of listAT; let i = index">
                <td>{{ abonadoTemp.abonado.nombre }}</td>
                <td>{{ abonadoTemp.abonado.apellidos }}</td>
                <td>{{ abonadoTemp.abonado.mail }}</td>
                <td>{{ abonadoTemp.abonado.telefono }}</td>
                <td>
                    <ng-container *ngIf="abonadoTemp.estado === 0">
                        {{ 'APP.SUBS.STATUS.NONE' | translate }}
                    </ng-container>
                    <ng-container *ngIf="abonadoTemp.estado === 1">
                        {{ 'APP.SUBS.STATUS.PENDING' | translate }}
                    </ng-container>
                    <ng-container *ngIf="abonadoTemp.estado === 2">
                        {{ 'APP.SUBS.STATUS.DONE' | translate }}
                    </ng-container>
                </td>
                <td>{{ abonadoTemp.cuota }}</td>
                <td>{{ abonadoTemp.pagado }}</td>
                <td>{{ abonadoTemp.restante }}</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal crear/actualizar abonado -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': showModalCreateUpdateAbonado}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="stripeModalLabel">{{ 'APP.SUBS.MODAL.TITLE' | translate }}</h5>
                    <button type="button" class="btn-close" aria-label="Close"
                        (click)="cerrarModalCreateUpdateAbonado()"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row text-center">
                            <div class="col-12 col-md-12">
                                <div class="row mt-3">
                                    <div class="col-12 col-md-12">
                                        <label><strong>{{ 'APP.SUBS.MODAL.DATA_LABEL' | translate }}</strong></label>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-12 col-md-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control custom-input" id="nombre"
                                                name="nombre" [(ngModel)]="abonadoObj.nombre"
                                                [attr.placeholder]="'APP.SUBS.MODAL.FIELDS.NAME' | translate"
                                                #primerCampo>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-8">
                                        <div class="form-group">
                                            <input type="text" class="form-control custom-input" id="apellido"
                                                name="apellido" [(ngModel)]="abonadoObj.apellidos"
                                                [attr.placeholder]="'APP.SUBS.MODAL.FIELDS.SURNAMES' | translate">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-12 col-md-4">
                                        <div class="form-group">
                                            <input type="date" class="form-control custom-input" id="fechaDeNacimiento"
                                                name="fechaDeNacimiento" [(ngModel)]="abonadoObj.fechaDeNacimiento"
                                                [attr.placeholder]="'APP.SUBS.MODAL.FIELDS.BIRTHDATE' | translate">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-8">
                                        <div class="form-group">
                                            <input type="text" class="form-control custom-input" id="dni" name="dni"
                                                [(ngModel)]="abonadoObj.dni"
                                                [attr.placeholder]="'APP.SUBS.MODAL.FIELDS.DNI' | translate">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-12 col-md-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control custom-input" id="telefono"
                                                name="telefono" [(ngModel)]="abonadoObj.telefono" maxlength="9"
                                                [attr.placeholder]="'APP.SUBS.MODAL.FIELDS.PHONE' | translate">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-8">
                                        <div class="form-group">
                                            <input type="mail" class="form-control custom-input" id="email" name="email"
                                                [(ngModel)]="abonadoObj.mail"
                                                [attr.placeholder]="'APP.SUBS.MODAL.FIELDS.EMAIL' | translate">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-12 col-md-4">
                                        <div class="form-group">
                                            <select class="form-select input-register custom-input" id="genero"
                                                name="genero" [(ngModel)]="abonadoObj.genero">
                                                <option value="" disabled selected hidden>{{ 'APP.SUBS.MODAL.GENDER' |
                                                    translate }}</option>
                                                <option value="M">{{ 'APP.SUBS.MODAL.GENDER_M' | translate }}</option>
                                                <option value="F">{{ 'APP.SUBS.MODAL.GENDER_F' | translate }}</option>
                                                <option value="O">{{ 'APP.SUBS.MODAL.GENDER_O' | translate }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row text-center mt-3">
                            <div class="col-12 col-md-12">
                                <div class="row mt-3">
                                    <div class="col-12 col-md-12">
                                        <label><strong>{{ 'APP.SUBS.MODAL.FEE_SECTION' | translate }}</strong></label>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12 col-md-4">
                                        <div class="form-group">
                                            <input type="number" class="form-control custom-input" id="cuota"
                                                name="cuota" [readOnly]="cuotaReadOnly" [(ngModel)]="cuotaAbonado"
                                                [attr.placeholder]="'APP.SUBS.MODAL.FEE_PLACEHOLDER' | translate">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer mt-3">
                            <button type="button" class="btn btn-success float-end" (click)="createUpdateAbonado()">
                                {{ 'APP.BUTTONS.SAVE' | translate }}
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal editar abonado + cuota -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': showModalUpdateAbonado}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="stripeModalLabel">{{ 'APP.SUBS.MODAL.TITLE' | translate }}</h5>
                    <button type="button" class="btn-close" aria-label="Close" (click)="updateAbonado()"></button>
                </div>

                <div class="modal-body">
                    <form>
                        <div class="row text-center">
                            <div class="col-12 col-md-12">
                                <div class="row text-center align-items-center">
                                    <div class="col-12 col-md-12">
                                        <ng-container *ngIf="abonadoUpdate.abonado.abonadoId !== 0">
                                            <div class="form-group">
                                                <ng-container *ngIf="abonadoUpdate.abonado.imgPerfil">
                                                    <div class="container">
                                                        <img [src]="imageBaseUrl + abonadoUpdate.abonado.imgPerfil"
                                                            alt="user-player" width="150" height="150"
                                                            class="rounded-circle me-2">
                                                    </div>
                                                </ng-container>
                                                <ng-container *ngIf="!abonadoUpdate.abonado.imgPerfil">
                                                    <span class="bi bi-person" style="font-size: 3rem;"></span>
                                                </ng-container>

                                                <h4>{{ 'APP.SUBS.MODAL.UPLOAD_TITLE' | translate }}</h4>

                                                <form (submit)="onSubmit(abonadoUpdate.abonado.abonadoId)"
                                                    enctype="multipart/form-data">
                                                    <div class="form-group">
                                                        <p>{{ 'APP.SUBS.MODAL.SELECT_IMAGE_TEXT' | translate }}</p>
                                                        <input type="file" id="image" (change)="onFileSelected($event)">
                                                        <div *ngIf="showPreview" style="margin-top: 2em;">
                                                            <img [src]="imagePreviewUrl"
                                                                [attr.alt]="'APP.SUBS.MODAL.IMAGE_PREVIEW_ALT' | translate"
                                                                width="150" height="150" class="rounded-circle me-2">
                                                            <button *ngIf="showbtnupimg" style="margin-top: 1em;"
                                                                type="submit" class="btn btn-success">
                                                                {{ 'APP.SUBS.MODAL.UPLOAD_PHOTO' | translate }}
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </ng-container>

                                        <ng-container *ngIf="abonadoUpdate.abonado.abonadoId == 0">
                                            <span class="bi bi-person" style="font-size: 3rem;"></span>
                                        </ng-container>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-12 col-md-12">
                                        <label><strong>{{ 'APP.SUBS.MODAL.EDIT_DATA_LABEL' | translate
                                                }}</strong></label>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-12 col-md-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control custom-input" id="nombre"
                                                name="nombre" [(ngModel)]="abonadoUpdate.abonado.nombre"
                                                [attr.placeholder]="'APP.SUBS.MODAL.FIELDS.NAME' | translate"
                                                #primerCampo>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-8">
                                        <div class="form-group">
                                            <input type="text" class="form-control custom-input" id="apellido"
                                                name="apellido" [(ngModel)]="abonadoUpdate.abonado.apellidos"
                                                [attr.placeholder]="'APP.SUBS.MODAL.FIELDS.SURNAMES' | translate">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-12 col-md-4">
                                        <div class="form-group">
                                            <input type="date" class="form-control custom-input" id="fechaDeNacimiento"
                                                name="fechaDeNacimiento"
                                                [(ngModel)]="abonadoUpdate.abonado.fechaDeNacimiento"
                                                [attr.placeholder]="'APP.SUBS.MODAL.FIELDS.BIRTHDATE' | translate">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-8">
                                        <div class="form-group">
                                            <input type="text" class="form-control custom-input" id="dni" name="dni"
                                                [(ngModel)]="abonadoUpdate.abonado.dni"
                                                [attr.placeholder]="'APP.SUBS.MODAL.FIELDS.DNI' | translate">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-12 col-md-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control custom-input" id="telefono"
                                                name="telefono" [(ngModel)]="abonadoUpdate.abonado.telefono"
                                                maxlength="9"
                                                [attr.placeholder]="'APP.SUBS.MODAL.FIELDS.PHONE' | translate">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-8">
                                        <div class="form-group">
                                            <input type="mail" class="form-control custom-input" id="email" name="email"
                                                [(ngModel)]="abonadoUpdate.abonado.mail"
                                                [attr.placeholder]="'APP.SUBS.MODAL.FIELDS.EMAIL' | translate">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-12 col-md-4">
                                        <div class="form-group">
                                            <select class="form-select input-register custom-input" id="genero"
                                                name="genero" [(ngModel)]="abonadoUpdate.abonado.genero">
                                                <option value="" disabled selected hidden>{{ 'APP.SUBS.MODAL.GENDER' |
                                                    translate }}</option>
                                                <option value="M">{{ 'APP.SUBS.MODAL.GENDER_M' | translate }}</option>
                                                <option value="F">{{ 'APP.SUBS.MODAL.GENDER_F' | translate }}</option>
                                                <option value="O">{{ 'APP.SUBS.MODAL.GENDER_O' | translate }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row text-center mt-3">
                            <div class="col-12 col-md-12">
                                <div class="row mt-3">
                                    <div class="col-12 col-md-12">
                                        <label><strong>{{ 'APP.SUBS.MODAL.FEE_SECTION' | translate }}</strong></label>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12 col-md-4">
                                        <div class="form-group">
                                            <input type="number" class="form-control custom-input" id="cuota"
                                                name="cuota" [readOnly]="cuotaReadOnly"
                                                [(ngModel)]="abonadoUpdate.cuota"
                                                [attr.placeholder]="'APP.SUBS.MODAL.FEE_PLACEHOLDER' | translate">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal insertar pago -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': showModalAgregarPago}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="standard-modalLabel">{{ 'APP.SUBS.PAY.TITLE' | translate }}</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModalAgregarPago()"></button>
            </div>
            <div class="modal-body">
                <p [innerHTML]="'APP.SUBS.PAY.INFO' | translate:{ name: textoInfoNameAbonado }"></p>

                <form (ngSubmit)="createPagoAbonado()">
                    <div class="row mb-3">
                        <div class="col">
                            <p style="color: red;">{{ 'APP.SUBS.PAY.ONLY_INTEGER_NOTICE' | translate }}</p>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-6">
                            <label for="cantidad" class="form-label">{{ 'APP.SUBS.PAY.AMOUNT' | translate }}</label>
                            <input type="number" class="form-control" id="cantidad" name="cantidad"
                                [(ngModel)]="agregarPago.cantidad">
                        </div>
                        <div class="col-6">
                            <label for="metodo" class="form-label">{{ 'APP.SUBS.PAY.METHOD' | translate }}</label>
                            <select class="form-control" id="metodo" name="metodo" [(ngModel)]="agregarPago.metodo">
                                <option value="Tarjeta">{{ 'APP.SUBS.PAY.METHODS.CARD' | translate }}</option>
                                <option value="Efectivo">{{ 'APP.SUBS.PAY.METHODS.CASH' | translate }}</option>
                                <option value="Transferencia">{{ 'APP.SUBS.PAY.METHODS.TRANSFER' | translate }}</option>
                                <option value="Bizum">{{ 'APP.SUBS.PAY.METHODS.BIZUM' | translate }}</option>
                                <option value="Otro">{{ 'APP.SUBS.PAY.METHODS.OTHER' | translate }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-6">
                            <label for="fecha" class="form-label">{{ 'APP.SUBS.PAY.DATE' | translate }}</label>
                            <input type="date" class="form-control" id="fecha" name="fecha"
                                [(ngModel)]="agregarPago.fechaPago">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12">
                            <label for="comentario" class="form-label">{{ 'APP.SUBS.PAY.COMMENT' | translate }}</label>
                            <textarea class="form-control" id="comentario" name="comentario"
                                [(ngModel)]="agregarPago.comentario" rows="5"></textarea>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success float-end">
                            {{ 'APP.BUTTONS.SAVE' | translate }}
                        </button>
                    </div>

                    <div class="mb-3 d-flex">
                        <div *ngIf="showAlert" class="col-6 alert alert-success mt-3" role="alert">
                            {{ 'APP.SUBS.PAY.SAVED_OK' | translate }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal historial pagos -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': showModalVerHistorialPagos}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="stripeModalLabel">{{ 'APP.SUBS.HISTORY.TITLE' | translate }}</h5>
                    <button type="button" class="btn-close" aria-label="Close"
                        (click)="cerrarModalHistorialPagos()"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>{{ 'APP.SUBS.HISTORY.AMOUNT' | translate }}</th>
                                    <th>{{ 'APP.SUBS.HISTORY.DATE' | translate }}</th>
                                    <th>{{ 'APP.SUBS.HISTORY.METHOD' | translate }}</th>
                                    <th>{{ 'APP.SUBS.HISTORY.COMMENT' | translate }}</th>
                                    <th>{{ 'APP.SUBS.HISTORY.REFUND' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pago of historyPagosAbonado">
                                    <td>{{ pago.cantidad }}</td>
                                    <td>{{ pago.fechaPago }}</td>
                                    <td>{{ pago.metodo }}</td>
                                    <td>{{ pago.comentario }}</td>
                                    <td>
                                        <button *ngIf="!pago.cantidad.includes('-')" class="btn btn-warning"
                                            [attr.title]="'APP.SUBS.HISTORY.REFUND_TITLE' | translate"
                                            (click)="confirmReturnPay(pago)">
                                            <span class="bi bi-arrow-counterclockwise btn-danger"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success float-end" (click)="cerrarModalHistorialPagos()">
                            {{ 'APP.BUTTONS.CLOSE' | translate }}
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>