<div class="back-container">
  <div class="btn-back-clean" href="javascript:void(0)" (click)="irAPantalla(1)">
    <i class="bi bi-arrow-left"></i>
    <span>{{ 'COMMON.BACK' | translate }}</span>
  </div>
</div>

<div class="container">    
    <div class="row mt-3 text-center">
        <h2>Entrenamientos creados por equipos</h2>
    </div>
    <div *ngIf="loading" class="card-skeleton mt-3">
        <div class="skeleton-card" *ngFor="let i of [].constructor(6)"></div>
    </div>
    <div class="row mt-3" id="segundo">
        <div class="scroll: auto">
            <div class="col-md-12">
                <canvas style="display: block; box-sizing: border-box; min-height: 200px; max-height: 500px;"
                    height="200" id="barChartUnica"></canvas>
            </div>
        </div>
    </div>
</div>