<!-- Contenido para el dataTable -->
<div class="back-container">
  <div class="btn-back-clean" href="javascript:void(0)" (click)="goBack()">
    <i class="bi bi-arrow-left"></i>
    <span>{{ 'COMMON.BACK' | translate }}</span>
  </div>
</div>

<div class="container mt-4">
    <h2>{{ 'TITLES.USERS' | translate }}</h2>
    <div style="overflow-x: auto;">
        <table id="dataTable" class="table table-bordered table-striped">
            <thead class="table-custom">
                <tr>
                    <th>{{ 'SUBS.TABLE.ID' | translate }}</th>
                    <th>{{ 'SUBS.TABLE.CREATE' | translate }}</th>
                    <th>{{ 'SUBS.TABLE.PROFILE' | translate }}</th>
                    <th>{{ 'SUBS.TABLE.NAME' | translate }}</th>
                    <th>{{ 'SUBS.TABLE.SURNAMES' | translate }}</th>
                    <th>{{ 'SUBS.TABLE.MOBILE' | translate }}</th>
                    <th>{{ 'SUBS.TABLE.EMAIL' | translate }}</th>
                    <th>{{ 'SUBS.TABLE.FECDATE' | translate }}</th>
                    <th>{{ 'SUBS.TABLE.VALIDATE' | translate }}</th>
                    <th>{{ 'SUBS.TABLE.COMUNICATIONS' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of tableUsers; let i = index">
                    <td>{{ user.userId }}</td>
                    <td>{{ user.dateCreate }}</td>
                    <td>{{ user.profileType.profileId }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.secondName }}</td>
                    <td>{{ user.mobile }}</td>
                    <td>{{ user.mail }}</td>
                    <td>{{ user.birthdate }}</td>
                    <td>{{ user.validationUser.validationUserId }}</td>
                    <td>{{ user.comunicaciones }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>