<div class="background">
  <video autoplay loop muted playsinline class="video-background">
    <source src="assets/videos/campo.mp4" type="video/mp4">
    Tu navegador no admite el elemento de video.
  </video>

  <div class="container-fluid">
    <div class="row justify-content-center" style="padding-top: 2%;">
      <div class="col-12 colored-column">
        <div class="card" style="width: 40%;">
          <div class="card-header textoCentrado">
            <h1>Manager de Fútbol</h1>
          </div>
          <div class="card-body textoCentrado">
            <app-login></app-login>
          </div>
          <div class="card-footer textoCentrado">
            <a href="#">He olvidado mi contraseña</a>
          </div>
        </div>
      </div>
      <div class="col-12 colored-column">
        <div class="card mt-3" style="width: 40%;">
          <div class="card-body textoCentrado">
            <p style="margin-bottom: 0;">¿No tienes una cuenta? <a href="/register">Regístrate</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
