<div class="background">
  <img src="assets/images/fondoLoginV1.png" [attr.alt]="'APP.ALT.BACKGROUND' | translate" class="video-background">

  <!-- LOGIN -->
  <div class="container" *ngIf="screen == 1">
    <div class="row justify-content-center" style="padding-top: 2%;">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header textoCentrado" style="background-color: #31b270;">
            <img src="assets/images/Logo_SphairaTech1.svg" [attr.alt]="'APP.ALT.LOGO' | translate"
              style="cursor: pointer; width: 10em;">
          </div>

          <div class="card-body textoCentrado">
            <app-login></app-login>
          </div>

          <div class="card-footer textoCentrado" style="flex-direction: column; background: #002c40;">
            <div class="row">
              <div class="col-md-12 col-sm-12 textoCentrado">
                <p>
                  <a style="color: #1e8832" href="#" (click)="toRemember($event)">
                    {{ 'APP.AUTH.FORGOT_PASSWORD' | translate }}
                  </a>
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12 textoCentrado">
                <p style="color: white">
                  {{ 'APP.AUTH.NO_ACCOUNT' | translate }}
                  <a style="color: #1e8832" href="#" (click)="toRegister($event)">
                    {{ 'APP.AUTH.REGISTER' | translate }}
                  </a>
                </p>
              </div>
            </div>
          </div> <!-- /card-footer -->
        </div> <!-- /card -->
      </div>
    </div>
  </div>

  <!-- RECORDAR CONTRASEÑA -->
  <div class="container" *ngIf="screen == 3">
    <div class="row justify-content-center" style="padding-top: 2%;">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header textoCentrado" style="background-color: #31b270;">
            <img src="assets/images/Logo_SphairaTech1.svg" [attr.alt]="'APP.ALT.LOGO' | translate"
              style="cursor: pointer; width: 10em;">
          </div>

          <div class="card-body textoCentrado">
            <form [formGroup]="rememberForm" class="form-login" #thisForm="ngForm" (ngSubmit)="sendMail()">
              <div class="mb-3">
                <label for="mail" class="form-label">
                  {{ 'APP.AUTH.REMEMBER_TITLE' | translate }}
                </label>

                <input type="email" class="form-control input-login" id="mail" formControlName="mail"
                  [attr.placeholder]="'APP.AUTH.EMAIL_PLACEHOLDER' | translate"
                  [class.is-invalid]="mailControl?.invalid && (mailControl?.dirty || mailControl?.touched || thisForm.submitted)">

                <div
                  *ngIf="mailControl?.hasError('email') && (mailControl?.dirty || mailControl?.touched || thisForm.submitted)"
                  class="invalid-feedback">
                  {{ 'APP.AUTH.EMAIL_INVALID' | translate }}
                </div>
              </div>

              <button type="submit" class="btn btn-primary btn-block textoCentrado">
                {{ 'APP.AUTH.SEND_MAIL' | translate }}
              </button>
            </form>
          </div>

          <div class="card-footer textoCentrado" style="flex-direction: column; background: #002c40;">
            <div class="row">
              <div class="col-md-12 col-sm-12 textoCentrado">
                <p style="color: white">
                  {{ 'APP.AUTH.REMEMBER_PASSWORD' | translate }}
                  <a style="color: #1e8832" href="#" (click)="toLogin($event)">
                    {{ 'APP.AUTH.LOGIN_HERE' | translate }}
                  </a>
                </p>
              </div>
            </div>
          </div> <!-- /card-footer -->
        </div> <!-- /card -->
      </div>
    </div>
  </div>
</div>