<div class="submenu">
    <div class="row">
        <div class="col">
            <a class="no-underline" href="javascript:void(0);" (click)="goBack()">
                <i class="bi bi-arrow-left-square-fill"></i>
                <span class="d-none d-md-inline">Volver</span>
            </a>
        </div>
    </div>
</div>

<div class="container" *ngIf="datosCargados">
    <!-- Contenido para el dataTable -->
    <div class="row mt-3">
        <div class="col-12 col-md-12 text-center">
            <h2><u>Información</u></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <h2>Cuotas Obligatorias</h2>
            <div style="overflow-x: auto;">
                <table id="dataTable" class="table table-bordered table-striped text-center">
                    <thead class="table-custom">
                        <tr>
                            <th>NOMBRE</th>
                            <th>IMPORTE</th>
                            <th>PLAZO_PAGO</th>
                            <th>CANTIDAD PAGADA</th>
                            <th>FECHA_DE_PAGO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cuota of cuotasObligatorias; let i = index">
                            <td>{{ cuota.nombre }}</td>
                            <td>{{ cuota.importe }}<i class="bi bi-currency-exchange me-1 text-success"></i></td>
                            <td>{{ cuota.plazo }}</td>
                            <td>{{ cuota.pagado }}<i class="bi bi-currency-exchange me-1 text-success"></i></td>
                            <td>{{ cuota.fechaPago }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <h2>Cuotas No obligatorias</h2>
            <div style="overflow-x: auto;">
                <table id="dataTable2" class="table table-bordered table-striped text-center">
                    <thead class="table-custom">
                        <tr>
                            <th>NOMBRE</th>
                            <th>IMPORTE</th>
                            <th>PLAZO_PAGO</th>
                            <th>CANTIDAD PAGADA</th>
                            <th>FECHA_DE_PAGO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cuota of cuotasNoObligatorias; let i = index">
                            <td>{{ cuota.nombre }}</td>
                            <td>{{ cuota.importe }}<i class="bi bi-currency-exchange me-1 text-success"></i></td>
                            <td>{{ cuota.plazo }}</td>
                            <td>{{ cuota.pagado }}<i class="bi bi-currency-exchange me-1 text-success"></i></td>
                            <td>{{ cuota.fechaPago }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container py-4" *ngIf="datosCargados">
    <!-- Estado financiero -->
    <!-- Estado financiero -->
    <div class="card-financiero mb-4 shadow">
        <h5 class="mb-4">Estado Financiero</h5>
        <div class="row text-center">
            <div class="col-6">
                <div class="box-pagado">
                    <i class="bi bi-check-circle-fill text-success"></i>
                    <h6 class="fw-bold">Pagado</h6>
                    <h4 class="mt-2">{{ pagado }}</h4>
                </div>
            </div>
            <div class="col-6">
                <div class="box-pagado">
                    <i class="bi bi-clock-fill text-warning"></i>
                    <h6 class="fw-bold">Pendiente</h6>
                    <h4 class="mt-2">{{ pdte }}</h4>
                </div>
            </div>
        </div>
    </div>

    <!-- Información de pago -->
    <div class="card shadow-sm border-0 mb-4">
        <div class="card-body">
            <h5 class="card-title mb-3">
                <i class="bi bi-bank2 me-2 text-primary"></i> Pago por transferencia
            </h5>

            <div class="mb-3">
                <i class="bi bi-123 me-2 text-secondary"></i>
                <strong>Número de cuenta del banco del Club</strong><br />
                {{ banco }}
            </div>

            <div class="mb-3">
                <i class="bi bi-pencil me-2 text-secondary"></i>
                <strong>Asunto o concepto pago de la cuota</strong><br />
                {{ asunto }}
            </div>

            <div class="mb-3">
                <i class="bi bi-person me-2 text-secondary"></i>
                <strong>Contacto</strong><br />
                {{ contacto }}
            </div>

            <div class="mb-3">
                <i class="bi bi-phone me-2 text-secondary"></i>
                <strong>BIZUM</strong><br />
                {{ bizum }}
            </div>

            <div class="alert alert-success mt-3" role="alert">
                <i class="bi bi-info-circle me-1"></i>
                Puedes pagar por transferencia a la cuenta indicada poniendo el asunto o concepto. Una vez realizado el
                pago, no
                olvides notificarlo al club para que lo registre.
            </div>
        </div>
    </div>
</div>

<!-- Modal para editar stripe -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': showModalStripe}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Realizar Pago</h5>
                    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
                </div>
                <div class="modal-body">
                    <form (ngSubmit)="makePayment()">
                        <div class="row mb-3">
                            <label for="cantidadAPagar" class="form-label">Selecciona la cuota a pagar:</label>
                            <select [(ngModel)]="cantidadAPagar" id="cantidadAPagar" name="cantidadAPagar"
                                class="form-control" (change)="calcularComision($event)">
                                <option *ngFor="let cuota of cuotas" [value]="cuota.value">
                                    {{ cuota.text }}
                                </option>
                            </select>
                        </div>
                        <!-- <div class="row mb-3">
                            <label for="cantidadAPagar" class="form-label">Cantidad a pagar:
                                {{ cantidadAPagar }}</label>
                            <input type="number" class="form-control" id="cantidadAPagar" [(ngModel)]="cantidadAPagar"
                                name="cantidadAPagar" required>
                        </div> -->
                        <div class="row mb-3">
                            <label for="amount" class="form-label">a cantidad final a pagar será de:</label>
                            <input type="number" class="form-control" id="amount" [(ngModel)]="amount" name="amount"
                                disabled>
                        </div>
                        <div class="row mb-3">
                            <!-- <button class="btn btn-custom btn-sm" (click)="calcularComision($event)">Calcular
                                comisión</button> -->
                        </div>
                        <div class="row mt-3">
                            <h2>Datos de la tarjeta</h2>
                        </div>
                        <div class="row mt-3 mb-3">
                            <div id="card-element"></div>
                        </div>
                        <div class="row mb-3" *ngIf="pagarOk">
                            <button type="submit" class="btn btn-custom">Pagar</button>
                        </div>
                        <div class="row mb-3">
                            <p style="color: rgb(172, 172, 172);">Cuando realices el pago de las cuotas del club o de la
                                ropa mediante tarjeta
                                de débito o
                                crédito, se aplicará un pequeño coste adicional por "gastos de gestión".</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>