/* Suponiendo que este estilo va en styles.css o en el archivo de estilos del componente padre */
#dashboard {
    background-image: url('./../../assets/images/fondo3.jpg');
    background-size: cover;      /* Ajusta la imagen para cubrir completamente el div */
    background-position: center; /* Centra la imagen dentro del div */
    background-repeat: no-repeat; /* Asegura que la imagen no se repita */
    height: 100vh;               /* O ajusta la altura como sea necesario */
  }
  