/* You can add global styles to this file, and also import other style files */

/* styles.scss o styles.css */
@import '~bootstrap/dist/css/bootstrap.min.css';

// styles.scss
@import "@fortawesome/fontawesome-free/css/all.css";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-snack-bar-container {
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
