<div class="submenu">
  <div class="row">
    <div class="col">
      <a class="no-underline" href="javascript:void(0);" (click)="goBack()">
        <i class="bi bi-arrow-left-square-fill"></i>
        <span class="d-none d-md-inline">Volver</span>
      </a>
    </div>
  </div>
</div>

<app-publicidad></app-publicidad>

<div class="container">
  <div class="d-block m-3" tabindex="-1" role="dialog" style="margin-top: 3em;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="margin-top: 3em;">
          <h5 class="modal-title" id="standard-modalLabel">Información del equipo</h5>
        </div>
        <div class="modal-body">
          <!-- Formulario para la creación de equipo con campos separados 
          TODO hacer que si es entrenador suelto, si pueda editar esa info-->
          <form [formGroup]="editarEquipoForm" (ngSubmit)="editarEquipo()">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="categoriaEquipo" class="form-label">Categoría del Equipo:</label>
                <select class="form-control" id="categoriaEquipo" name="categoriaEquipo"
                  formControlName="categoryTypeId">
                  <option *ngFor="let option of categoryOptions" [value]="option.value">{{ option.label }}</option>
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <label for="nivelLiga" class="form-label">Nivel:</label>
                <select class="form-control" id="nivelLiga" name="nivelLiga" formControlName="levelLeague">
                  <option *ngFor="let option of levelOptions" [value]="option.value">{{ option.label }}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="nombreEquipo" class="form-label">Letra del equipo:</label>
                <select class="form-control" id="nombreEquipo" name="nombreEquipo" formControlName="name">
                  <option *ngFor="let option of nameOptions" [value]="option.value">{{ option.label }}</option>
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <label for="diasEntrenamiento" class="form-label">Días de Entrenamiento:</label>
                <div class="d-flex align-items-end">
                  <button type="button" class="form-control btn btn-primary" (click)="openModalHorario()">Pulsa para poner el horario</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="objetivoEquipo" class="form-label">Objetivo del Equipo:</label>
                <textarea class="form-control" rows="4" id="objetivoEquipo" name="objetivoEquipo"
                  formControlName="objectiveTeam"></textarea>
              </div>
              <div class="col-md-6 mb-3">
                <label for="opinionEquipo" class="form-label">Opinión del Equipo:</label>
                <textarea class="form-control" rows="4" id="opinionEquipo" name="opinionEquipo"
                  formControlName="opinionTeam"></textarea>
              </div>
            </div>
            <div class="modal-footer" style="margin-top: 2em;">
              <div class="col-md-6">
                <!-- Botón para guardar el nuevo equipo -->
                <button type="submit" class="btn btn-success">Guardar</button>
              </div>
              <div class="col-md-6 text-end">
                <button type="button" class="btn btn-danger" (click)="confirmarEliminarEquipo();">Eliminar</button>
              </div>
            </div>
          </form>
        </div>
        <hr>
        <div class="modal-header" style="justify-content: flex-start;">
          <h5 class="modal-title" id="standard-modalLabel">Entrenadores del equipo</h5>
          <div
            *ngIf="coaches.length < 3 && this.team.userId == this.usuarioActual!!.userId || coaches.length < 3 && this.usuarioActual!!.profileType.profileId == 1">
            <button class="btn btn-link text-primary" (click)="abrirModalInvitarEntenador()">
              <i class="bi bi-plus-circle-fill"></i>
            </button>
            <div class="hint">Invitar a un nuevo Entrenador</div>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">
              <div class="col mb-3" *ngFor="let coach of coaches">
                <div class="card gradient" *ngIf="coach.profile == 2">
                  <div class="card-body text-center">
                    <ng-container *ngIf="!coach.picture">
                      <span class="bi bi-person" style="font-size: 4rem;"></span>
                    </ng-container>
                    <ng-container *ngIf="coach.picture">
                      <img src="https://appsphairatech.com/images/user/{{ coach.picture }}" alt="user-player" width="100"
                        height="100" class="rounded-circle me-2">
                    </ng-container>
                    <h5 class="card-title">{{ coach.name }} {{ coach.surname }}</h5>
                    <div class="d-flex justify-content-between"
                      *ngIf="this.team.userId == this.usuarioActual!!.userId && this.team.userId != coach.userId || this.usuarioActual!!.profileType.profileId == 1">
                      <button class="btn btn-danger" title="Eliminar" (click)="deleteCoach(coach.userId)">
                        <span class="bi bi-trash3"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal para invitar un entrenador por mail -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': showModal}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Invitar Entrenador</h5>
        <!-- Botón de cerrar con un icono -->
        <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModal()"></button>
      </div>
      <div class="modal-body">
        <p>Introduce el correo electrónico del entrenador que quieres invitar. Por favor verifica que la cuenta de
          correo sea correcta.</p>
        <form [formGroup]="userForm" class="form-login" #thisForm="ngForm" (ngSubmit)="invitarEntrenador()">
          <div class="mb-3" style="text-align: center;">
            <div class="mb-3">
              <label for="mail" class="form-label">Correo electrónico</label>
              <input type="email" class="form-control input-login" id="mail" formControlName="mail">
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success float-end">Invitar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal para modificar el horario de un equipo -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': showModalHorario}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="standard-modalLabel">Horario del equipo</h5>
        <!-- Botón de cerrar con un icono -->
        <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModalHorario()"></button>
      </div>
      <div class="modal-body">
        <p>Habilita o deshabilita aquellos días que haya entrenamiento y asigna una hora de inicio y de fin.
        </p>
        <div *ngFor="let dia of dias">
          <!-- Sección del día con el interruptor -->
          <div class="d-flex align-items-center justify-content-between mb-3">
            <span><strong><u>{{ dia.label }}</u></strong></span>
            <div class="form-check form-switch">
              <input class="form-check-input custom-input" type="checkbox" id="{{dia.property}}"
                [checked]="diasTeam[dia.property] === 1"
                (change)="toggleDiaOkDesactivar(dia.property, diasTeam[dia.property])">
            </div>
          </div>         
          <!-- Sección de selectores de hora -->
          <div class="row mb-3" *ngIf="diasTeam[dia.property] === 1">
            <div class="col-4">
              <label for="{{dia.property}}Inicio" class="form-label">Inicio:</label>
              <select class="form-control" id="{{dia.property}}Inicio" name="{{dia.property}}Inicio"
                [(ngModel)]="diasTeam[dia.property + 'Inicio']" (change)="changeHora()">
                <option *ngFor="let time of timeOptions" [value]="time">{{ time }}</option>
              </select>
            </div>
            <div class="col-4">
              <label for="{{dia.property}}Fin" class="form-label">Fin:</label>
              <select class="form-control" id="{{dia.property}}Fin" name="{{dia.property}}Fin"
                [(ngModel)]="diasTeam[dia.property + 'Fin']" (change)="changeHora()">
                <option *ngFor="let time of timeOptions" [value]="time">{{ time }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cerrarModalHorario()">Cerrar</button>
      </div>
    </div>
  </div>
</div>