<div>
    <div class="submenu">
        <div class="row">
            <div class="col text-center">
                <a class="no-underline" href="javascript:void(0);" (click)="irAPantalla(1)">
                    <i class="bi bi-house"></i>
                    <span class="d-none d-md-inline">Inicio</span>
                </a>
            </div>
            <div class="col text-center">
                <a class="no-underline" href="javascript:void(0);" (click)="openCorreo(null)">
                    <i class="bi bi-plus-circle"></i>
                    <span class="d-none d-md-inline">Crear</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-12 col-md-3 bg-light p-3">
            <button class="btn btn-primary w-100 mb-2" (click)="mostrarEnviados()">Enviados</button>
            <button class="btn btn-secondary w-100" (click)="mostrarRecibidos()">Recibidos</button>
        </div>

        <!-- Main Content -->
        <div class="col-12 col-md-9 p-3" style="height: 100vh;">
            <!-- Filters -->
            <!-- Filters -->
            <div class="d-flex justify-content-between mb-3">
                <button class="btn btn-outline-primary" (click)="mostrarTodos()" *ngIf="showBtn">Todos</button>
                <button class="btn btn-outline-success" (click)="mostrarLeidos()" *ngIf="showBtn">Leídos</button>
                <button class="btn btn-outline-danger" (click)="mostrarNoLeidos()" *ngIf="showBtn">No Leídos</button>
            </div>
            <!-- Email List with Scroll -->
            <div class="list-group" style="height: calc(70% - 3rem); overflow-y: auto;">
                <div class="list-group-item d-flex align-items-center" *ngFor="let correo of correos" [ngStyle]="{
              'background-color': correo.leido ? 'rgba(211, 211, 211, 0.5)' : 'rgba(255, 255, 255, 0.5)',
              'cursor': 'pointer'
            }" (click)="openCorreo(correo)">
                    <div class="d-flex align-items-center flex-wrap w-100" style="gap: 1rem;">
                        <!-- Destinatario -->
                        <span class="text-primary"><strong>Para:</strong> {{ correo.destinatarios }}</span>
                        <!-- Asunto -->
                        <span class="fw-bold">{{ correo.asunto }}</span>
                        <!-- Cuerpo -->
                        <span class="text-muted text-truncate" style="flex: 1;">{{ correo.body }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal para ver el correo -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': showModal}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="stripeModalLabel">Correo</h5>
                    <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModal()"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <!-- poner aqui el contenido -->
                        <div class="row mb-3">
                            <!-- Destinatario -->
                            <div class="col-12">
                                <label for="correoTo" class="form-label"><strong>Para:</strong></label>
                                <input type="text" id="correoTo" class="form-control" [(ngModel)]="correoSelected.destinatarios"
                                    readonly>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <!-- Asunto -->
                            <div class="col-12">
                                <label for="correoAsunto" class="form-label"><strong>Asunto:</strong></label>
                                <input type="text" id="correoAsunto" class="form-control"
                                    [(ngModel)]="correoSelected.asunto" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Cuerpo -->
                            <div class="col-12">
                                <label for="correoBody" class="form-label"><strong>Mensaje:</strong></label>
                                <textarea id="correoBody" class="form-control" rows="5"
                                    [(ngModel)]="correoSelected.body" readonly></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- Botón para guardar el nuevo equipo -->
                        <button type="submit" class="btn btn-success float-end" (click)="cerrarModal()">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>