<nb-layout>
  <nb-layout-header>Awesome Company</nb-layout-header>
  <nb-layout-column class="colored-column-left">

  </nb-layout-column>
  <nb-layout-column class="colored-column-right">
    <nb-flip-card>
      <nb-card-front>
        <nb-card accent="success">
          <nb-card-header>Inicia Sesión</nb-card-header>
          <nb-card-body>
            A nebula is an interstellar cloud of dust, hydrogen,
            helium and other ionized gases.
            Originally, nebula was a name for
            any diffuse astronomical object,
            including galaxies beyond the Milky Way.
          </nb-card-body>
        </nb-card>
      </nb-card-front>
      <nb-card-back>
        <nb-card accent="primary">
          <nb-card-header>Regístrate</nb-card-header>
          <nb-card-body>
            A nebula is an interstellar cloud of dust, hydrogen,
            helium and other ionized gases.
            Originally, nebula was a name for
            any diffuse astronomical object,
            including galaxies beyond the Milky Way.
          </nb-card-body>
        </nb-card>
      </nb-card-back>
    </nb-flip-card>
  </nb-layout-column>
  <nb-layout-footer>Contact us</nb-layout-footer>
</nb-layout>
