<nb-layout>

  <nb-layout-column class="colored-column">
    <div>
      <button nbButton status="info" style="margin-bottom: 5px;" shape="round" (click)="back()">
        <nb-icon icon="chevron-left-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
        <nb-icon icon="home"></nb-icon>
      </button>
      <nb-card>
        <nb-card-header class="textoCentrado">
          <h1>Registro</h1>
        </nb-card-header>
        <nb-card-body>
          <form [formGroup]="registerForm" (ngSubmit)="register()" class="form-register">

            <div style="display: flex;">
              <nb-select placeholder="Selecciona Rol" formControlName="rol" class="input-register" fullWidth
                style="margin-right: 20px;">
                <nb-option value="1">Entrenador</nb-option>
                <nb-option value="2">Club</nb-option>
              </nb-select>
              <input type="text" nbInput fullWidth status="basic" placeholder="Nombre del club" id="nameClub"
                formControlName="nameClub" class="input-register">
            </div>

            <div style="display: flex;">
              <input type="text" nbInput fullWidth status="basic" placeholder="Ingrese su nombre" id="name"
                formControlName="name" class="input-register" style="margin-right: 20px;">
              <input type="text" nbInput fullWidth status="basic" placeholder="Ingrese su apellido" id="surname"
                formControlName="surname" class="input-register">
            </div>

            <div style="display: flex;">
              <input type="date" nbInput fullWidth status="basic" placeholder="Selecciona fecha de nacimiento" id="date"
              formControlName="birthday" class="input-register" style="margin-right: 20px;">
              <nb-select placeholder="Selecciona genero" formControlName="gender" class="input-register" fullWidth
                style="margin-right: 20px;">
                <nb-option value="1">Masculino</nb-option>
                <nb-option value="2">Femenino</nb-option>
                <nb-option value="3">Otro</nb-option>
              </nb-select>
            </div>

            <div style="display: flex;">
              <input type="email" nbInput fullWidth status="basic" placeholder="Ingrese email" id="email"
                formControlName="email" class="input-register" style="margin-right: 20px;">
            </div>

            <div style="display: flex;">
              <input type="password" nbInput fullWidth status="basic" placeholder="Ingrese contraseña" id="password"
                formControlName="password" class="input-register" style="margin-right: 20px;">
              <input type="password" nbInput fullWidth status="basic" placeholder="Ingrese contraseña" id="password2"
                formControlName="password2" class="input-register">
            </div>

            <button type="submit" nbButton status="primary" fullWidth>Registrar usuario</button>
          </form>


        </nb-card-body>
      </nb-card>
    </div>
  </nb-layout-column>

</nb-layout>
